<div class="nav-column column">
  <div class="footer-title">{{footerMenuHeader1}}</div>
  <nav>
    {{#each settings.menu.footer1 locale}}
      <a href="{{link link locale}}">{{title}}{{#if icon}} <span class="icon {{icon}} size18 m10r"></span>{{/if}}</a>
    {{/each}}
  </nav>
</div>
<div class="nav-column column">
  <div class="footer-title">{{footerMenuHeader2}}</div>
  <nav>
    {{#each settings.menu.footer2 locale}}
      <a href="{{link link locale}}">{{title}}{{#if icon}} <span class="icon {{icon}} size18 m10r"></span>{{/if}}</a>
    {{/each}}
  </nav>
</div>
<div class="nav-column column">
  <div class="footer-title">{{footerMenuHeader3}}</div>
  <nav>
    {{#each settings.menu.footer3 locale}}
    <a href="{{link link locale}}">{{title}}{{#if icon}} <span class="icon {{icon}} size18 m10r"></span>{{/if}}</a>
    {{/each}}
  </nav>
</div>
