{{>landing/ebook-popup}}
{{>landing/calltoaction-landing}}

<footer class="main-footer" id="contact">
	<div class="content-limiter">
		<div class="row">
			<div class="logo-column column">
				<a href="{{envlink 'https://HOST_DOMAIN' NODE_ENV}}" class="logo">PushPushGo</a>
				<p class="copyright">Copyright © 2018 by PushPushGo. All rights reserved.</p>
			</div>

			{{>footer-menu}}
			<div class="socials-column column">
				<a href="https://www.linkedin.com/company/10915197" class="icon-linkedin" target="_blank"></a>
				<a href="http://twitter.com/PushPushGo1" class="icon-twitter" target="_blank"></a>
				<a href="https://www.facebook.com/PushPushGo/" target="_blank" class="icon-facebook" target="_blank"></a>
				<a href="https://www.youtube.com/channel/UCpp-mdjtSkq9bmSGcOlzQ7A" target="_blank" class="icon-youtube" target="_blank"></a>
			</div>
		</div>
	</div>
</footer>

<div class="c2c-modal hide" id="c2c-modal">
	<div class="c2c-modal-backdrop"></div>
	<div class="c2c-modal-box">
		<span class="icon-telephone size30 text-light"></span>
		<h2 class="title--uppercase">{{__ 'Potrzebujesz konsultacji?'}}</h2>
		<p>{{__ 'Wpisz swój numer telefonu, oddzwonimy tak szybko jak to możliwe, zwykle za kilka sekund'}}</p>
		<input class="c2c-input" id="c2c-input" value="+48"/>
		<a href="#" class="c2c-call" id="c2c-call">{{__ 'Zamów'}}</a>

		<a href="#" class="c2c-modal-close" id="c2c-modal-close"></a>
		<small> {{__ 'Zostawiając numer telefonu wyrażasz zgodę na przetwarzanie swoich danych oraz jednorazowe oddzwonienie. Twój numer telefonu nie będzie przekazywany żadnym podmiotom trzecim.'}}</small>
		<p>
			<span id="c2c-status-ok" class="c2c-status hide">{{__ 'Rozmowa zamówiona, zaczekaj na połączenie, ten komunikat możesz już zamknąć.'}}</span>
			<span id="c2c-status-error" class="c2c-status hide">{{__ 'Wystąpił problem, spróbuj jeszcze raz.'}}</span>
			<span id="c2c-status-validate" class="c2c-status hide">{{__ 'Wpisz poprawny numer telefonu (+YYXXXXXXXXX)'}}</span>
			<span id="c2c-status-loading" class="c2c-status hide">{{__ 'Trwa łączenie z Joanną'}}</span>
		</p>
	</div>
</div>

</body>
</html>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
<script src="/js/main.js" async="true"></script>
<script charset="UTF-8" src="https://cdn.pushpushgo.com/js/57a04ba53f29062f1fed6d8f.js" async="true"></script>

<!-- Facebook Pixel Code -->
<noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1959134684349655&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code -->

<div class="ppg-cookies">
	{{#ifCond locale 'pl'}}
	Nasza strona używa ciasteczek (cookies). <span class="link ppg-cookies__close">Zamknij</span> <a href="{{link 'pages/polityka-prywatnosci' locale}}">Dowiedz się więcej</a>
	{{else}}
	Our website is using cookies. <span class="link ppg-cookies__close">Close</span> <a href="{{link 'pages/privacy' locale}}">Read more</a>
	{{/ifCond}}
</div>
