<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=3600" />
    <meta name="keywords" content="{{ keywords }}">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="locale" content="{{ locale }}">
    <meta name="google-site-verification" content="oec4S5aP6w5wBadFzh9zMieUTWiMRPp9LYhiyfm4dgE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="image_src" type="image/jpeg" id="logo" href="/images/logo_mini.png">
    <link rel="image_src" type="image/jpeg" id="screen" href="/images/screen.png">

    <link rel="icon" type="image/png" href="/images/favicon.png">

    {{#if pagination}}
        <link rel="next" href="{{url}}{{pagination.next.path}}"/>
        <link rel="prev" href="{{url}}{{pagination.previous.path}}"/>
    {{/if}}

    <title> {{ title }} </title>

    {{#ifCond NODE_ENV 'staging'}}
      <meta name="robots" content="noindex">
    {{/ifCond}}

    <link rel="manifest" href="/manifest.json">
</head>

<body class="{{ locale }}" data-lang="{{ locale }}">

<style>
    body {
      opacity: 0;
      transition: opacity 0.3s;
    }
</style>
