<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=3600" />
    <meta name="keywords" content="{{ keywords }}">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="locale" content="{{ locale }}">
    <meta name="google-site-verification" content="oec4S5aP6w5wBadFzh9zMieUTWiMRPp9LYhiyfm4dgE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {{ title }} </title>

    {{#if seoMetaTags}}
      {{#each seoMetaTags}}
      {{{tagGenerator this}}}
      {{/each}}
    {{ else }}
      <meta property="og:site_name" content="PushPushGo" />
      <meta property="og:title" content="{{#if title}}{{ title }}{{else}}PushPushGo - platforma to wysyłki web push{{/if}}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ url }}{{link path }}" />
      <meta property="og:image" content="{{#if image}}{{ image }}{{/if}}" />
      <meta property="og:description" content="{{#if sneakPeak}}{{ sneakPeak }}{{else}}Web push dla Twojego ecommerce, sprawdź - 14 dni bezpłatnego okresu testowego{{/if}}" />
    {{/if}}


    {{#if hreflangs}}
      {{#each hreflangs}}
        {{{tagGenerator this}}}
      {{/each}}
    {{#/if}}

    <link rel="canonical" href="{{ url }}{{link path }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#16a082">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#16a082">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#16a082">

    <link rel="icon" href="/favicon.ico">

    {{#if pagination}}
        <link rel="next" href="{{url}}{{pagination.next.path}}"/>
        <link rel="prev" href="{{url}}{{pagination.previous.path}}"/>
    {{/if}}


    {{{generateRobots this}}}

    <script>
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) {
          return parts.pop().split(";").shift();
        }
      }
    </script>

    {{#ifCond NODE_ENV 'production'}}
    <script src="https://api.pushpushgo.com/uuid"></script>
    {{/ifCond}}

    {{#ifCond NODE_ENV 'production'}}
    <script>
      window._ppgConfig = {
        uuid: getCookie('ppgUUID'),
        mixpanel: '990d62dbba53d999b1e54cd92ed1a63d',
        amplitude: 'c2a0c8412d60508b75b2f3223d623b20',
        hotjar: 431312,
        ga: 'UA-80826141-1',
        facebook: '1959134684349655',
        albacross: 89620050
      };
    </script>
    {{/ifCond}}

    {{#ifCond NODE_ENV 'staging'}}
    <script src="https://api.stppg.co/uuid"></script>
    {{/ifCond}}

    {{#ifCond NODE_ENV 'staging'}}
    <script>
      window._ppgConfig = {
        uuid: getCookie('ppgUUID'),
        mixpanel: '990d62dbba53d999b1e54cd92ed1a63d',
        amplitude: '73121cfbbcafbdfde3ba45051e67efe2',
        hotjar: 431312,
        ga: 'UA-80826141-2',
        facebook: '1959134684349655',
        albacross: 89620050
      };
    </script>
    {{/ifCond}}

    {{#ifCond NODE_ENV 'development'}}
    <script src="http://localhost:3000/api/uuid"></script>
    {{/ifCond}}

    {{#ifCond NODE_ENV 'development'}}
    <script>
      window._ppgConfig = {
        uuid: getCookie('ppgUUID'),
        mixpanel: '990d62dbba53d999b1e54cd92ed1a63d',
        amplitude: '73121cfbbcafbdfde3ba45051e67efe2',
        hotjar: 431312,
        ga: 'UA-80826141-2',
        facebook: '1959134684349655',
        albacross: 89620050
      };
    </script>
    {{/ifCond}}

    <link rel="manifest" href="/manifest.json">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KB4LXGT');</script>
    <!-- End Google Tag Manager -->

    <script>
      (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
        t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
      })(window, document, '_gscq','script','//widgets.getsitecontrol.com/158807/script.js');
    </script>
            
</head>

<body class="{{ locale }}" data-lang="{{ locale }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB4LXGT"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style>
    body {
      opacity: 0;
      transition: opacity 0.3s;
    }
</style>
