<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=3600" />
    <meta name="keywords" content="{{ keywords }}">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="locale" content="{{ locale }}">
    <meta name="google-site-verification" content="oec4S5aP6w5wBadFzh9zMieUTWiMRPp9LYhiyfm4dgE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#if seoMetaTags}}
      {{#each seoMetaTags}}
      {{{tagGenerator this}}}
      {{/each}}
    {{ else }}
      <meta property="og:site_name" content="PushPushGo" />
      <meta property="og:title" content="{{#if title}}{{ title }}{{else}}PushPushGo - platforma to wysyłki web push{{/if}}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ url }}{{link path }}" />
      <meta property="og:image" content="{{#if image}}{{ image }}{{/if}}" />
      <meta property="og:description" content="{{#if sneakPeak}}{{ sneakPeak }}{{else}}Web push dla Twojego ecommerce, sprawdź - 14 dni bezpłatnego okresu testowego{{/if}}" />
    {{/if}}


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#16a082">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#16a082">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#16a082">

    <link rel="icon" href="/favicon.png">

    {{#if pagination}}
        <link rel="next" href="{{url}}{{pagination.next.path}}"/>
        <link rel="prev" href="{{url}}{{pagination.previous.path}}"/>
    {{/if}}

    <title> {{ title }} </title>

    {{#ifCond NODE_ENV 'staging'}}
      <meta name="robots" content="noindex"/>
    {{/ifCond}}

    <link rel="manifest" href="/manifest.json">
</head>

<body class="{{ locale }}" data-lang="{{ locale }}">

<style>
    body {
      opacity: 0;
      transition: opacity 0.3s;
    }
</style>
