<header class="main">
  <div class="content-limiter flex space-between">

    <div class="logo">
      <a href="/" class="white">
        <img src="https://www.datocms-assets.com/6307/1539678865-logo-gdprready.svg" alt="PushPushGo - platforma do wysyłki web push">
      </a>
    </div>

    <span class="icon-menu main-menu-toggle"></span>

    <div class="main-menu flex space-between">
      <nav class="main-nav">
        <div class="expandable-link">
          <span class="nav-link">{{ menuResources }} <span class="m5l size10 icon-arrow-down text-green"></span> </span>
          <ul class="well">
            {{#each settings.menu.resources locale}}
              <li>
                <a class="nav-link {{#ifCond slug ../slug}} active {{/ifCond}}" href="{{link link locale}}">
                  {{#if icon}} <span class="icon {{icon}} size18 m10r"></span> {{/if}}
                  {{ title }}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>

        {{#each settings.menu.header locale}}
          <a class="nav-link {{#ifCond slug ../slug}} active {{/ifCond}}" href="{{link link locale}}">
            {{#if icon}} <span class="icon {{icon}} size18 m10r"></span> {{/if}}
            {{title}}
          </a>
        {{/each}}
      </nav>

      <nav class="auth-nav">
        <span class="call-us">
          <span class="icon-telephone m5r"></span>
          <a href="tel:{{headerOrderCallPhone}}">{{ headerOrderCallPhone }}</a>
        </span>

        <a href="#" class="c2c-btn nav-link" id="c2c-btn">{{headerOrderCallLabel}}</a>

        <a href="{{envlink 'https://app.HOST_DOMAIN' NODE_ENV}}/#login?language={{locale}}" target="_blank" class="nav-link">{{ headerLogin }}</a>
        <a class="btn btn--medium register" target="_blank" href="{{envlink 'https://app.HOST_DOMAIN' NODE_ENV}}/#register?language={{locale}}">{{ headerRegister }}</a>
        <div class="language-toggle">
          <div class="language-toggle-list">
            {{#each settings.availableLocales}}
              <a href="/{{name}}" class="{{#ifCond name ../locale}}active{{/ifCond}} uppercase">{{name}}</a>
            {{/each}}
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

{{#if settings.jobOffersBadge}}
  <a href="{{link 'pages/praca' locale}}">
    <div class="hire-ribbon">{{headerHiring}}</div>
  </a>
{{/if}}