<header class="main main--webinar flex space-between">

  <div class="flex">
    <div class="logo">
      <a href="/" class="white">
        <img src="/images/logo-inverse.svg" alt="">
      </a>
    </div>

    <div class="logo-subtitle">
      Webinarium
    </div>
  </div>

  <span class="ppg-icon-menu main-menu-toggle"></span>

  <div class="main-menu">

    <nav class="auth-nav">

      <span class="call-us">
          <span class="ppg-icon-telephone m5r"></span>
      <a href="tel:+48123125213">+48 12 312 5213</a>
      </span>

      <a href="#" class="c2c-btn" id="c2c-btn">{{__ 'Zamów rozmowę'}}</a>

      <a href="{{envlink 'https://app.HOST_DOMAIN' NODE_ENV}}/#login" target="_blank">{{__ 'Zaloguj się' }}</a>
      <a class="btn btn--medium register" target="_blank" href="{{envlink 'https://app.HOST_DOMAIN' NODE_ENV}}/#register">{{__ 'Załóż konto'}}</a>
      <div class="language-toggle">
        <div class="language-toggle-list">
          {{#ifCond locale 'pl'}}
          <a href="/en">EN</a>
          <a href="/pl" class="active">PL</a> {{else}}
          <a href="/en" class="active">EN</a>
          <a href="/pl">PL</a> {{/ifCond}}
        </div>
      </div>

    </nav>
  </div>
</header>