.sh__text {
    &--center {
        text-align: center;
        box-shadow: 0 0 10px 4px rgba(0,0,0,.04);
        height: 100%;
        width: 500px;
        margin: 0 auto;
        padding: 70px;

        &-header {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.sh-pricing {
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        &--container {
            text-align: center;
        }

        &--plant {
            width: 60px;
            margin: 0 0 30px 0;
        }

        &--price {
            font-size: 25px;
            font-weight: 500;
            color: teal;
            padding: 45px 0 0;
            margin: 0;
        }

        &--quantity {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 35px;
        }

        &--features {
            padding-left: 0;
            padding-top: 30px;
            margin-left: 10%;
            width: 25%;
        }
    }

    &__plus {
        text-align: center;
        border-top: 1px solid #dcdcdc;

        &--head {
            margin-top: 30px;
        }

        &--plan {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: -60px;
            margin-top: 50px;
            font-weight: 500;

            @media (max-width: 1024px) {
                margin-left: 0;
                flex-direction: column;
            }
        }

        &--price {
            font-size: 20px;
            font-weight: 500;
            color: teal;
        }
    }
}