{{>header}}
{{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>
</section>

<section class="blog">
  <div class="content-limiter">

  <div class="blog-breadcrumbs">
    <a href="{{link '' locale}}">{{breadcrumbsHome}}</a>
    <span class="divider">/</span>
    <span>{{breadcrumbsBlog}}</span>
  </div>

  <div class="blog-grid">
    {{#each pagination.files locale}}
      <div class="blog-post-item">
        {{#if this.image}}
        <a href="/{{link this.path}}">
          <img src="{{image}}" class="blog-post-item-image">
        </a>
        {{/if}}
        <div class="blog-post-item-text">
          <div>
            {{#each this.tags}}
              <a href="/tag/{{this.slug}}/" class="post-tag">{{this.name}}</a>&nbsp;
            {{/each}}
          </div>
          <a class="blog-post-item-title"  href="/{{link this.path}}">{{this.title}} </a>
          <p class="blog-post-item-description">{{{this.description}}} </p>

          <div class="flex space-between">
            <div>
              <span class="blog-post-item-date"> {{ parseDate this.date }}</span>
              <span class="text-small">
                <span class="icon-stopwatch m5r"></span>
                {{ readingTime }}: {{this.readingTime}}
              </span>
            </div>
            <div class="text-right">
              <a class="btn btn--medium" href="/{{link this.path}}">{{ readMore }} &#155;</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <nav class='page-links'>
      {{#if pagination.previous}}
        <a class='page page-prev' href='/{{link pagination.previous.path}}'> &lt; {{ prevPage }}</a>
      {{/if}}

      {{#if pagination.next}}
        <a class='page page-next' href='/{{link pagination.next.path}}'>{{ nextPage }} &gt; </a>
      {{/if}}
    </nav>
  </div>
</section>
{{>footer}}