{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{ header }}</h1>
    <p>{{ subheader }}</p>
  </div>
</section>

<br>
<br>

<div class="content-limiter text-center">
  
  {{#ifCond locale 'pl'}}
	<table class="career-table">
    <tr>
      <th>
        {{ role }}
      </th>
      <th>
        {{ location }}
      </th>
      <th>
        {{ workTime }}
      </th>
      <th>
        {{ endDate }}
      </th>
    </tr>

    {{#each collections.jobs locale}}
      {{#if category}}
        <tr>
          <td>
            <a href="/{{link path}}">
              {{ title }}
            </a>
          </td>
          <td>
            <span class="icon-location"></span>
             {{ location }}
          </td>
          <td>
            {{ category }}
          </td>
          <td>
            {{ date }}
          </td>
        </tr>
      {{/if}}
    {{/each}}

  </table>

{{/ifCond}}

{{#ifCond locale 'en'}}
<div class="text-center">
  {{{action}}}
</div>
{{/ifCond}}
</div>


<!-- <div class="text-center">
  {{{action}}}
</div> -->

<br>
<br>
<br>


{{>footer}}