{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>Oferty pracy</h1>
    <p>Dołącz do naszego zespołu PushPushGo</p>
  </div>
</section>

<br>
<br>

<div class="content-limiter text-center">

  <table class="career-table">
    <tr>
      <th>
        Stanowisko
      </th>
      <th>
        Miejsce
      </th>
      <th>
        Wymiar godzinowy
      </th>
      <th>
        Data dodania
      </th>
    </tr>

    <tr>
      <td>
        <a href="{{linkLocale 'pages/praca-account-manager' locale}}">
          Account Manager
        </a>
      </td>
      <td>
        <span class="ppg-icon-location"></span>
        Kraków
      </td>
      <td>
        Pełny etat
      </td>
      <td>
        21 grudnia 2017
      </td>
    </tr>

    <!--<tr>
      <td>
        <a href="{{linkLocale 'pages/praca-software-developer' locale}}">
          Software Developer
        </a>
      </td>
      <td>
        <span class="ppg-icon-location"></span>
        Kraków
      </td>
      <td>
        Pełny etat
      </td>
      <td>
        23 listopada 2017
      </td>
    </tr>-->
<!--
    <tr>
      <td>
        <a href="{{linkLocale 'pages/praca-customer-service' locale}}">
          Customer Success Manager
        </a>
      </td>
      <td>
        <span class="ppg-icon-location"></span>
        Kraków
      </td>
      <td>
        Pełny etat
      </td>
      <td>
        08 sierpnia 2017
      </td>
    </tr>-->

    <!-- <tr>
      <td>
        <a href="{{linkLocale 'pages/praca-new-business-specialist' locale}}">
          New Business Specialist
        </a>
      </td>
      <td>
        <span class="ppg-icon-location"></span>
        Warszawa
      </td>
      <td>
        Pełny etat
      </td>
      <td>
        08 sierpnia 2017
      </td>
    </tr> -->
  </table>
</div>

<br>
<br>
<br>

<div class="text-center">
  Napisz do nas na adres: <a href="mailto:jobs@pushpushgo.com">jobs@pushpushgo.com</a> <br/>
  i wyślij swoje CV lub po prostu opowiedz nam o sobie :)
</div>

<br>
<br>
<br>


{{>footer}}