{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{{__ 'Dlaczego PushPushGo?' }}}</h1>
    <p>{{{__ 'Zobacz co sprawia, że wyróżniamy się pośród innych aplikacji do wysyłki web push. <br>Podczas <b>14-dniowego bezpłatnego okresu testowego</b>      przekonasz się, <br> dlaczego <b>95% Klientów</b> zostaje z nami na stałe' }}}</hp>
  </div>
</section>


<header class="section-header">
  <span class="icon-goal header-icon size36"></span>
  <h2 class="title--uppercase">{{{__ 'Jesteśmy skuteczni'}}}</h2>
</header>

<section class="main">
  <div class="content-limiter">
    <div class="number-stats">
      <div class="stat-item">
        <div class="pie-wrapper progress-20">
          <span class="label">20<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{__ 'wskaźnika klikalności <br><br> CTR web push jest <b>5 razy wyższy</b> niż w przypadku newslettera'}}}</div>
      </div>

      <div class="stat-item">
        <div class="pie-wrapper progress-5">
          <span class="label">6<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{__ 'wskaźnika zapisów <br><br> zbudujesz własną bazę odbiorców <b> 2 razy szybciej </b> niż poprzez email '}}}</div>
      </div>

      <div class="stat-item">
        <div class="pie-wrapper progress-80">
          <span class="label">80<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{__ 'użytkowników internetu <br><br> wysyłaj powiadomienia na ekrany komputerów i <b>urządzeń mobilnych</b>'}}}</div>
      </div>

      <div class="stat-item">
        <div class="pie-wrapper progress-10">
          <span class="label">10<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{__ 'wzrostu konwersji <br><br> nawet o tyle <b>podniesiemy konwersję</b> w Twoim e-sklepie lub na stronie www'}}}</div>
      </div>
    </div>
  </div>
</section>

{{>landing/features}}

<header class="section-header" id="features">
  <span class="icon-winner-cup header-icon size36"></span>
  <h2 class="title--uppercase">{{{__ 'Wyróżniamy się'}}}</h2>
</header>

<section class="main">
  <div class="content-limiter">

    <ul class="benefits-list">
      <li>
        <span class="list-icon icon-help"></span>
        <span class="list-content">
          {{{__ 'Wsparcie 24 h na dobę, 7 dni w tygodniu: telefon, chat, e-mail'}}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="Tylko w PushPushGo"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-telemarketer"></span>
        <span class="list-content">
          {{{__ 'Twój dedykowany opiekun przeprowadzi dla Ciebie darmowe szkolenie z obsługi systemu'}}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="Tylko w PushPushGo"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-code-laptop"></span>
        <span class="list-content">
          {{{__ 'Wysokiej jakości kod integracyjny, który nie spowalnia ładowania Twojej strony'}}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="Tylko w PushPushGo"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-license-document"></span>
        <span class="list-content">
          {{{__ 'Nie korzystamy z pośredników, spełniamy normy legalne UE a dane Twoich klientów są bezpieczne'}}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="Tylko w PushPushGo"></span>
        </span>
      </li>

      {{#ifCond locale 'pl'}}
      <li>
        <span class="list-icon icon-play"></span>
        <span class="list-content">
          {{{__ 'Jako jedyni w Polsce oferujemy dedykowaną platformę web push automation'}}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="Tylko w PushPushGo"></span>
        </span>
      </li>
      {{/ifCond}}
    </ul>
  </div>
</section>

<br>
<br>

 {{>footer}}