{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{title}}</h1>
    <p>{{{subtitle}}}</hp>
  </div>
</section>


<header class="section-header">
  <span class="icon-goal header-icon size36"></span>
  <h2 class="title--uppercase">{{ goalHeader }}</h2>
</header>

<section class="main">
  <div class="content-limiter">
    <div class="number-stats">
      <div class="stat-item">
        <div class="pie-wrapper progress-20">
          <span class="label">20<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{goalClick}}}</div>
      </div>

      <div class="stat-item">
        <div class="pie-wrapper progress-5">
          <span class="label">6<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{goalSignUp}}}</div>
      </div>

      <div class="stat-item">
        <div class="pie-wrapper progress-80">
          <span class="label">80<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{goalArea}}}</div>
      </div>

      <div class="stat-item">
        <div class="pie-wrapper progress-10">
          <span class="label">10<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
        </div>
        <div class="stat-name">{{{goalConvertion}}}</div>
      </div>
    </div>
  </div>
</section>

<header class="section-header grey-bg" id="features">
  <span class="icon-computer header-icon  size36"></span>
  <h2 class="title--uppercase">{{featuresTitle}}</h2>
</header>

<section class="main features grey-bg">
  <div class="content-limiter">
    <ul class="features-list">
      <li>
        <h4 class="title--bolded text-green">{{features1Title}}</h4>
        <p>{{features1Content}}</p>
        <span class="feature-icon">
          <span class="icon-pencil-and-ruler"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features2Title}}</h4>
        <p>{{features2Content}}</p>
        <span class="feature-icon">
          <span class="icon-magic-wand"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features3Title}}</h4>
        <p>{{features3Content}} </p>
        <span class="feature-icon">
          <span class="icon-reports"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features4Title}}</h4>
        <p>{{features4Content}}</p>
        <span class="feature-icon">
          <span class="icon-inbox"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features5Title}}</h4>
        <p>{{features5Content}}</p>
        <span class="feature-icon">
          <span class="icon-subscribers"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features6Title}}</h4>
        <p>{{features6Content}}</p>
        <span class="feature-icon">
          <span class="icon-play"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features7Title}}</h4>
        <p>{{features7Content}}</p>
        <span class="feature-icon">
          <span class="icon-globe"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features8Title}}</h4>
        <p>{{features8Content}}</p>
        <span class="feature-icon">
          <span class="icon-rss"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{features9Title}}</h4>
        <p>{{features9Content}}</p>
        <span class="feature-icon">
          <span class="icon-link"></span>
        </span>
      </li>
    </ul>
  </div>
</section>

<header class="section-header" id="features">
  <span class="icon-winner-cup header-icon size36"></span>
  <h2 class="title--uppercase">{{chooseUsTitle}}</h2>
</header>

<section class="main">
  <div class="content-limiter">

    <ul class="benefits-list">
      <li>
        <span class="list-icon icon-help"></span>
        <span class="list-content">
          {{chooseUsFeature1}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="{{onlyInPPG}}"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-telemarketer"></span>
        <span class="list-content">
          {{chooseUsFeature2}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="{{onlyInPPG}}"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-code-laptop"></span>
        <span class="list-content">
          {{chooseUsFeature3}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="{{onlyInPPG}}"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-license-document"></span>
        <span class="list-content">
          {{chooseUsFeature4}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="{{onlyInPPG}}"></span>
        </span>
      </li>
      <li>
        <span class="list-icon icon-play"></span>
        <span class="list-content">
          {{chooseUsFeature5}}
        </span>
        <span class="list-tick">
          <span class="icon-ok-icon text-green" title="{{onlyInPPG}}"></span>
        </span>
      </li>
    </ul>
  </div>
</section>

<br>
<br>

 {{>footer}}