{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{__ 'Kompatybilność'}}</h1>
    <p>{{__ 'Sprawdź jakie przeglądarki wpiera nasza platforma'}}</p>
  </div>
</section>

<br><br>

<div class="content-limiter">

  <div class="row">

    <div class="column column-60">
      <table class="support-table">
        <thead>
          <tr>
            <th></th>
            <th>IE</th>
            <th>Edge</th>
            <th>Firefox</th>
            <th>Chrome</th>
            <th>Safari</th>
            <th>Android</th>
            <th>Opera</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Desktop Mac OS</th>
            <td></td>
            <td></td>
            <td class="green">44</td>
            <td class="green">42</td>
            <td class="orange">15</td>
            <td></td>
            <td class="green">42</td>
          </tr>
          <tr>
            <th>Desktop Linux</th>
            <td></td>
            <td></td>
            <td class="green">44 </td>
            <td class="green">42 </td>
            <td></td>
            <td></td>
            <td class="green">42 </td>
          </tr>
          <tr>
            <th>Desktop Windows</th>
            <td></td>
            <td class="orange-lighter">+</td>
            <td class="green">44 </td>
            <td class="green">42 </td>
            <td></td>
            <td></td>
            <td class="green">42 </td>
          </tr>
          <tr>
            <th>Mobile iOS</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Mobile Android</th>
            <td></td>
            <td></td>
            <td class="green">42</td>
            <td class="green">42</td>
            <td></td>
            <td></td>
            <td class="green">42 </td>
          </tr>
          <tr>
            <th>Mobile Windows</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="column column-40">
      <div class="legend">
        <div>
          <span class="legend-sample bg-green"></span> {{__ 'Wspierane przez przeglądarkę i PushPushGo od podanej wersji'}}
        </div>
        <div>
          <span class="legend-sample bg-green-lighter"></span> {{__ 'Wspierane przez przeglądarkę od podanej wersji, trwają
          beta testy w PushPushGo'}}
        </div>
        <div>
          <span class="legend-sample bg-orange"></span> {{__ 'Wspierane przez przeglądarkę od podanej wersji, trwa implementacjaw
          PushPushGo'}}
        </div>
        <div>
          <span class="legend-sample bg-orange-lighter"></span> {{__ 'Wkrótce wspierane przez przeglądarkę'}}
        </div>
        <div>
          <span class="legend-sample legend-empty"></span> {{__ 'Brak wsparcia przez przeglądarkę'}}
        </div>
      </div>
    </div>
  </div>
</div>

<br><br> {{>footer}}