{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
  </div>
</section>

<br><br>

<div class="content-limiter">

  <div class="row">

    <div class="column column-60">
      <table class="support-table">
        <thead>
          <tr>
            <th></th>
            <th>IE</th>
            <th>Edge</th>
            <th>Firefox</th>
            <th>Chrome</th>
            <th>Safari</th>
            <th>Android</th>
            <th>Opera</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Desktop Mac OS</th>
            <td></td>
            <td></td>
            <td class="green">44</td>
            <td class="green">42</td>
            <td class="orange">15</td>
            <td></td>
            <td class="green">42</td>
          </tr>
          <tr>
            <th>Desktop Linux</th>
            <td></td>
            <td></td>
            <td class="green">44 </td>
            <td class="green">42 </td>
            <td></td>
            <td></td>
            <td class="green">42 </td>
          </tr>
          <tr>
            <th>Desktop Windows</th>
            <td></td>
            <td class="orange">14</td>
            <td class="green">44 </td>
            <td class="green">42 </td>
            <td></td>
            <td></td>
            <td class="green">42 </td>
          </tr>
          <tr>
            <th>Mobile iOS</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Mobile Android</th>
            <td></td>
            <td></td>
            <td class="green">42</td>
            <td class="green">42</td>
            <td></td>
            <td></td>
            <td class="green">42 </td>
          </tr>
          <tr>
            <th>Mobile Windows</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="column column-40">
      <div class="legend">
        <div>
          <span class="legend-sample bg-green"></span> {{supported}}
        </div>
        <div>
          <span class="legend-sample bg-orange"></span> {{inProgress}}
        </div>
        <div>
          <span class="legend-sample legend-empty"></span> {{notSupported}}
        </div>
      </div>
    </div>
  </div>
</div>

<br><br> {{>footer}}