{{>header}} {{>menu}}

<section>

  <header class="section-header">
    <h2 class="title--uppercase">{{{title}}}</h2>
  </header>

  <br>
  <br>

  <div class="map-wrapper">
    <div class="map-layer">
      <p>
        <div class="size20 m10b">
          <b>{{registerName}}</b>
        </div>
        {{contactAddress}}<br>{{contactPostCode}}<br>{{contactCountry}}
      </p>

      <br>

      <p>
        <div class="icon-msg m10r"></div>
        {{contactWithUs}}: <br>
        <b><a href="mailto:{{contactEmail}}">{{contactEmail}}</a></b>
      </p>
      <p>
        <div class="icon-telephone m10r"></div>
        {{supportTitle}}: <br/>
        <b><a href="tel:{{supportPhone}}">{{supportPhone}}</a></b>
        <b><a href="mailto:{{supportEmail}}">{{supportEmail}}</a></b>
      </p>
      </ul>
    </div>
    <div id="map"></div>
  </div>

  <script>
    function initMap() {
      var myLatLng = { lat: {{settings.officeLocation.latitude}}, lng: {{settings.officeLocation.longitude}} };

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: myLatLng,
        scrollwheel: false,
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'PushPushGo Sp. z o.o.'
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjkSFCjC0R794du7df4xpUrPJCcWFw44c&callback=initMap" async
    defer></script>

  <header class="section-header">
    <h2 class="title--uppercase">{{ourTeam}}</h2>
  </header>

  <br>
  <br>

  <div class="team-members">
    {{#each collections.employees locale}}
      <div class="member-item">
          <img src="{{cover}}" alt="" class="image-normal">
          <img src="{{hover}}" class="image-funny">
          <div class="name">{{name}}</div>
          <div class="position">{{role}}</div>
          <a href="mailto:{{email}}">{{email}}</a>
      </div>
    {{/each}}


  </div>

  <header class="section-header">
    <h2 class="title--uppercase">{{companyDataTitle}}: </h2>
  </header>

  <section>
    <div class="content-limiter">
      <div class="flex justify">
        <div class="p40">
          <b>{{registerName}}</b><br><br>{{registerAddress}}<br>{{registerPostCode}}<br>{{registerCountry}}<br>
        </div>
        <div class="p40">
          <br> KRS: {{registerKRS}}
          <br> VAT-UE: {{registerNIP}}
          <br> REGON: {{registerREGON}}
          <br>
          <br> {{registerBank}}
          <br> IBAN: {{registerIBAN}}
          <br> SWIFT/BIC: {{registerSWIFT}}
        </div>
      </div>
    </div>
  </section>
  </article>
</section>

{{>footer}}



