{{>header}} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>Poradnik użytkownika</h1>
    <p>Pierwsze kroki w aplikacji PushPushGo</p>
  </div>
</section>

<section class="documentation">
  <div class="content-limiter">
    <div class="side-nav">
      <div class="side-nav-toggle"><span class="ppg-icon-menu"></span></div>
      <nav>
        <a href="#o-pushpushgo">O PushPushGo</a>
        <a href="#start">Start</a>
        <div class="sublinks">
          <a href="#za-o-enie-konta">Założenie konta</a>
          <a href="#utworzenie-projektu">Utworzenie projektu</a>
          <a href="#integracja-strony">Integracja strony</a>
        </div>
        <a href="#elementy-na-stronie">Elementy na stronie</a>
        <div class="sublinks">
          <a href="#formularz-zapisu">Formularz zapisu</a>
          <a href="#skrzynka-odbiorcza">Skrzynka odbiorcza</a>
          <a href="#prze-cznik-zapisu">Przełącznik zapisu</a>
        </div>
        <a href="#wysy-ka-kampanii">Wysyłka kampanii</a>
        <div class="sublinks">
          <a href="#ikona">Ikona</a>
          <a href="#tre-">Treść</a>
          <a href="#url-powiadomienia">Url powiadomienia</a>
          <a href="#utm-kampanii">UTM kampanii</a>
          <a href="#du-e-zdj-cie">Duże zdjęcie</a>
          <a href="#akcje">Akcje</a>
          <a href="#wymagana-interakcja">Wymagana interakcja</a>
          <a href="#czas-wysy-ki">Czas wysyłki</a>
          <a href="#strefy-czasowe">Strefy czasowe</a>
          <a href="#targetowanie-wysy-ki">Targetowanie wysyłki</a>
        </div>
        <a href="#testy-abx">Testy ABX</a>
        <a href="#automation">Automation</a>
        <div class="sublinks">
          <a href="#zbieranie-danych-w-module-automation">Zbieranie danych</a>
          <a href="#scenariusz-1">Wiadomość powitalna</a>
          <a href="#scenariusz-2">Akcja promocyjna</a>
          <a href="#scenariusz-3">Porzucony koszyk</a>
          <a href="#scenariusz-4">Długa nieobecność</a>
          <a href="#scenariusz-5">Zniżka na kolejne zakupy</a>
          <a href="#scenariusz-5">Seria powiadomień</a>
        </div>
        <a href="#exporty">Exporty</a>
        <a href="#testowanie">Testowanie</a>
        <div class="sublinks">
          <a href="#testy-subskrypcji">Testy subskrypcji </a>
          <a href="#testy-scenariuszy-automation">Testy automation </a>
          <a href="#testy-kampanii">Testy kampanii </a>
        </div>
        <a href="#odbiorcy">Odbiorcy</a>
        <div class="sublinks">
          <a href="#tagowanie">Tagowanie</a>
          <a href="#wygl-d-tabeli">Wygląd tabeli</a>
        </div>
        <a href="#linki">Linki</a>
        <a href="#rss">RSS</a>
      </nav>
    </div>

    <div class="content">
      {{{contents}}}
    </div>
  </div>
</section>

{{>footer}}
