{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{ title }}</h1>
    <p>{{subtitle }}</p>
  </div>
</section>


<header class="section-header">
  <span class="icon-license-document header-icon size36"></span>
  <h2 class="title--uppercase">{{ privacyTitle }}</h2>
</header>

<section class="main gdpr">
  <div class="content-limiter">
    <div class="step-blocks w800">
      <div class="block-item h300">
        <h4>{{list1Title}}</h4>
        <span class="icon-computer size36 m10"></span>
        <ul>
          <li>{{{list11}}}</li>
          <li>{{list12}}</li>
          <li>{{list13}}</li>
          <li>{{list14}}</li>
        </ul>
      </div>

      <div class="block-item h300">
        <h4>{{list2Title}}</h4>
        <span class="icon-package size36 m10"></span>
        <ul>
          <li>{{list21}}</li>
          <li>{{list22}}</li>
          <li>{{list23}}</li>
          <li>{{list24}}</li>
        </ul>
      </div>

      <div class="block-item h300">
        <h4>{{list3Title}}</h4>
        <span class="icon-cog size36 m10"></span>
        <ul>
          <li>{{list31}}</li>
          <li>{{list32}}</li>
          <li>{{list33}}</li>
          <li>{{list34}}</li>
        </ul>
      </div>

      <div class="block-item h300">
        <h4>{{list4Title}}</h4>
        <span class="icon-handshake size36 m10"></span>
        <ul>
          <li>{{list41}}</li>
          <li>{{list42}}</li>
          <li>{{list43}}</li>
          <li>{{list44}}</li>
        </ul>
      </div>

    </div>
  </div>
</section>

<header class="section-header">
  <h3 class="title--uppercase">{{faqTitle}}</h3>
</header>

<section class="main gdpr">
  <div class="content-limiter">
    <div class="partnership-faq">

      <div class="question-item">
        <h4>{{ faq1Question }}</h4>
        {{ faq1Answer}}
      </div>

      <div class="question-item">
        <h4>{{ faq2Question }}</h4>
        {{{faq2Answer}}}
      </div>

      <div class="question-item">
        <h4>{{faq3Question}}</h4>
        {{ faq3Answer}}
      </div>

      <div class="question-item">
        <h4>{{ faq4Question }}</h4>
        {{{faq4Answer}}}
      </div>
    </div>
  </div>
</section>

<header class="section-header">
  <h3 class="title--uppercase">{{contactTitle}}</h3>
</header>

<div class="text-center contact-section">
  <div class="contact-avatar avatar--joanna">
    <img src="{{contactAvatar}}">
  </div>
  <p><b>{{contactName}}</b></p>
  <p><b>{{contactRole}}</b>
  <p> {{contactEmail}}</p>
  <p><a href="tel:{{contactPhone}}">{{contactPhone}}</a></p>
</div>

<br>
<br>
{{>footer}}