{{>header}} {{>menu}}

<section class="page-intro">
    <div class="content-limiter">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
    </div>
</section>

<div class="content-limiter">
    <!--<div class="row">-->
        <!--<div class="breadcrumbs"><a href="">Centrum wiedzy</a> &gt; Poradnik Użytkownika-->
        <!--</div>-->
    <!--</div>-->
    <div class="row top">
        <div class="column column-20">
            <section class="user-guide">
                <div class="menu-wrapper">
                    {{#each collections.guides locale}}
                        {{#if index}}
                            <a href="/{{link path}}" class="{{#ifCond title category}}category{{else}}sub{{/ifCond}} {{#ifCond  ../slug slug}}active{{/ifCond}}">{{title}}</a>
                        {{/if}}
                    {{/each}}
                </div>
            </section>
        </div>
        <div class="column column-80">
            <div class="user-guide__content">
                <h1>{{title}}</h1>
                {{{contents}}}
            </div>
        </div>
    </div>
</div>

{{>footer}}
