
{{> header }}

{{{contents}}}

  {{>menu}}

<section class="intro" id="intro">
  <div class="intro-content">
    <div class="intro-animate-area">
      <img src="https://www.datocms-assets.com/6307/1530870397-laptop.png" alt="" class="laptop">
      <img src="https://www.datocms-assets.com/6307/1530870401-iphone.png" alt="" class="iphone">
      <div class="push-fake push-mobile">
        <div class="push-icon">
          <span class="icon-bell"></span>
        </div>
      </div>
      <div class="push-fake push-desktop">
        <div class="push-icon">
          <span class="icon-bell"></span>
        </div>
      </div>
    </div>
    <div class="intro-text">
      <h1>
        {{introTitle}}
      </h1>
      <p>
        {{introSubtitle}}
      </p>
      <a class="btn get-program" href="{{envlink 'https://app.HOST_DOMAIN/register' NODE_ENV}}">{{introCallToAction}}</a>
    </div>
    <div class="intro-icons">
      <span class="intro-icon-item">
          <span class="icon-basket"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-click"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-bell"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-wifi"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-graph"></span>
      </span>
      <span class="intro-icon-item text-green">
          <span class="icon-globe"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-cog"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-message"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-pencil-and-ruler"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-target"></span>
      </span>
      <span class="intro-icon-item text-red">
          <span class="icon-heart"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-music"></span>
      </span>
      <span class="intro-icon-item">
          <span class="icon-pie-chart"></span>
      </span>
    </div>
  </div>
</section>

<div class="flex space-between client-logos p20">
  <div class="m5b">{{clientHeader}}</div>
  <img src="{{clientLogo1}}">
  <img src="{{clientLogo2}}">
  <img src="{{clientLogo3}}">
  <img src="{{clientLogo4}}">
  <img src="{{clientLogo5}}">
  <img src="{{clientLogo6}}">
  <img src="{{clientLogo7}}">
</div>

<br>
<br>
<section class="main intro-video">
  <div class="content-limiter ">

    <div class="row">
      <div class="column text-bigger">

        <h4 class="title--big-green">{{ videoTitle }} </h4>
        <p class="">{{{videoSubtitle}}}</p>

        <p>{{{videoSneakPeak}}}</p>
        <br>
        <br>

        <div>
          <a href="{{videoGoToGuideUrl}}"  class="btn">{{videoGoToGuide}} &#155;</a>
        </div>
      </div>
      <div class="column">
        <iframe width="800" height="450" src="{{videoEmbedUrl}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <br>
    <br>

    <div class="text-center">
      <div class="inline-block p30">
        <div class="count-circle green m10b">1</div>
        <div>{{{step1}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">2</div>
        <div>{{{step2}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">3</div>
        <div>{{{step3}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">4</div>
        <div>{{{step4}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">5</div>
        <div>{{{step5}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">6</div>
        <div>{{{step6}}}</div>
      </div>
    </div>


  </div>
</section>

<section class="main grey-bg">
  <h2 class="title--uppercase text-center">{{chooseTypeTitle}}</h2>

  <div class="content-limiter">
    <div class="row">

      <div class="column column-33">
        <div class="text-center">
          <span class="usage-icon usage-icon--mass"></span>
          <h4 class="title--bolded text-green">{{{chooseTypeMass}}}</h4>
          <p>{{{chooseTypeMassDesc}}}</p>

          <a href="{{chooseTypeMassMoreUrl}}" class="btn btn--medium m10t">{{chooseTypeMore}} &#155;</a>
        </div>

      </div>

      <div class="column column-33">
        <div class="text-center">
          <span class="usage-icon usage-icon--targeting"></span>
          <h4 class="title--bolded text-green">{{chooseTypeTarget}}</h4>
          <p>{{{chooseTypeTargetDesc}}}</p>
          <a href="{{chooseTypeTargetMoreUrl}}" class="btn btn--medium m10t">{{chooseTypeMore}} &#155;</a>
        </div>

      </div>

      <div class="column column-33">
        <div class="text-center">
          <span class="usage-icon usage-icon--automation"></span>
          <h4 class="title--bolded text-green">{{chooseTypeAuto}}</h4>
          <p>{{{chooseTypeAutoDesc}}}</p>

          <a href="{{chooseTypeAutoMoreUrl}}" class="btn btn--medium m10t">{{chooseTypeMore}} &#155;</a>
        </div>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
</section>


<section class="main features">
  <h2 class="title--uppercase text-center">{{featuresTitle}}</h2>
  <div class="content-limiter">

    <div class="features-slider ppg-tabs">
      <div class="text-center">
        <div class="features-slider__tabs">
          <span class="ppg-tab-trigger active" data-tab="returning">{{featuresSlider1}}</span>
          <span class="ppg-tab-trigger" data-tab="cart">{{featuresSlider2}}</span>
          <span class="ppg-tab-trigger" data-tab="segmentation">{{featuresSlider3}}</span>
          <span class="ppg-tab-trigger" data-tab="selling">{{featuresSlider4}}</span>
          <span class="ppg-tab-trigger" data-tab="loyalty">{{featuresSlider5}}</span>
        </div>
      </div>

      <div class="features-slider__content">

        <div class="features-slider__item ppg-tab-content opened" id="returning">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon calendar"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{featuresSlider1PushTitle}}
                </div>
                <div class="fake-push__body">
                  {{featuresSlider1PushContent}}
                </div>
                <div class="fake-push__domain">
                  {{featuresSlider1PushDomain}}
                </div>
              </div>
            </div>
          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{featuresSlider1DescriptionTitle}}</h4>

            <p>{{featuresSlider1DescriptionDescription}}</p>

            <a href="{{featuresSlider1DescriptionGuideLink}}">{{ featuresReadMore }} &#155;</a>
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="cart">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon cart"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{featuresSlider2PushTitle}}
                </div>
                <div class="fake-push__body">
                  {{featuresSlider2PushContent}}
                </div>
                <div class="fake-push__domain">
                  {{featuresSlider2PushDomain}}
                </div>
              </div>
            </div>

          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{featuresSlider2DescriptionTitle}}</h4>

            <p>{{featuresSlider2DescriptionDescription}}</p>

            <a href="{{featuresSlider2DescriptionGuideLink}}">{{ featuresReadMore }} &#155;</a>
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="segmentation">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon promo"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{featuresSlider3PushTitle}}
                </div>
                <div class="fake-push__body">
                  {{featuresSlider3PushContent}}
                </div>
                <div class="fake-push__domain">
                  {{featuresSlider3PushDomain}}
                </div>
              </div>
            </div>

          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{featuresSlider3DescriptionTitle}}</h4>

            <p>{{featuresSlider3DescriptionDescription}}</p>

            <a href="{{featuresSlider3DescriptionGuideLink}}">{{ featuresReadMore }} &#155;</a>
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="selling">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon survey"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{featuresSlider4PushTitle}}
                </div>
                <div class="fake-push__body">
                  {{featuresSlider4PushContent}}
                </div>
                <div class="fake-push__domain">
                  {{featuresSlider4PushDomain}}
                </div>
              </div>
            </div>

          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{featuresSlider4DescriptionTitle}}</h4>
            <p>{{featuresSlider4DescriptionDescription}}
            </p>
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="loyalty">
          <div class="features-slider__image">
            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon book"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{featuresSlider5PushTitle}}
                </div>
                <div class="fake-push__body">
                  {{featuresSlider5PushContent}}
                </div>
                <div class="fake-push__domain">
                  {{featuresSlider5PushDomain}}
                </div>
              </div>
            </div>
          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{featuresSlider5DescriptionTitle}}</h4>

            <p>{{featuresSlider5DescriptionDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
</section>

<header class="section-header grey-bg">
  <h2 class="title--uppercase">{{integrationTitle}}</h2>
</header>
<section class="main grey-bg">
  <div class="content-limiter">
    <div class="text-center">
      <img src="https://www.datocms-assets.com/6307/1530872050-paste-code.png" class="shadow" alt="">
      <br>
      <br>
      <a href="{{integrationLinkToGuide}}" class="btn btn--medium">{{integrationLinkLabel}} &#155;</a>
    </div>
  </div>
</section>

<header class="section-header" id="recent-posts">
  <h2 class="title--uppercase">{{blogTitle}}</h2>
</header>

<section class="main recent-posts">
  <div class="content-limiter">
    <div class="recent-posts-container">
      {{#each collections.posts locale 3}}
      <div class="post-item">
        <div class="post-image" style="background-image: url({{image}});" >
          <a class="post-layer" href="/{{link this.path}}">
            <div>
              <p class="post-description"> {{{description}}} </p>
              <div class="post-read-more">{{blogReadMore}}</div>
            </div>
          </a>
        </div>

        {{#each this.tags}}
        <span class="post-tag">{{this.name}}</span>
        {{/each}}

        <a href="/{{link this.path}}" class="post-title"> {{title}}</a>
      </div>
      {{/each}}
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="text-center">
    <a href="{{link 'blog/page/1' locale}}" class="btn">{{blogGoTo}}  &#155;</a>
  </div>
</section>

<header class="section-header grey-bg" id="testimonials">
  <h2 class="title--uppercase">{{testimonialsTitle}}</h2>
</header>

<section class="main grey-bg testimonials">
  <div class="content-limiter testimonials-container">

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{testimonial1Title}}</b></div>
        <p>{{testimonial1Review}}.</p>

        <div class="testimonial-footer">
          <div style="background-image: url({{testimonial1Avatar}});" class="testimonial-icon"></div>
          <div class="testimonial-autor">{{{testimonial1Author}}}</div>
        </div>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{testimonial2Title}}</b></div>
        <p>{{testimonial2Review}}.</p>

        <div class="testimonial-footer">
          <div style="background-image:  url({{testimonial2Avatar}});" class="testimonial-icon"></div>
          <div class="testimonial-autor">{{{testimonial2Author}}}</div>
        </div>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{testimonial3Title}}</b></div>
        <p>{{testimonial3Review}}.</p>

        <div class="testimonial-footer">
          <div class="testimonial-icon" style="background-image:  url({{testimonial3Avatar}})"></div>
          <div class="testimonial-autor">{{{testimonial3Author}}}</div>
        </div>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{testimonial4Title}}</b></div>
        <p>{{testimonial4Review}}.</p>

        <div class="testimonial-footer">
          <div class="testimonial-icon" style="background-image:  url({{testimonial4Avatar}})"></div>
          <div class="testimonial-autor">{{{testimonial4Author}}}</div>
        </div>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{testimonial5Title}}</b></div>
        <p>{{testimonial5Review}}.</p>

        <div class="testimonial-footer">
          <div class="testimonial-icon" style="background-image: url({{testimonial5Avatar}})"></div>
          <div class="testimonial-autor">{{{testimonial5Author}}}</div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <br>
</section>

<section class="main">
    <h2 class="title--uppercase text-center">{{awardsTitle}}</h2>
    <br>
    <br>
  <div class="content-limiter">
    <div class="row">
      <div class="column text-center">
        <img src="https://www.datocms-assets.com/6307/1551803297-250x250-aulery.png" class="shadow" alt="aulery awards 2018">
        <div class="m10b m10t text-green"><b>{{award1title}}</b></div>
        <div class="m10b"><b>{{award1subtitle}}</b></div>

      </div>
      <div class="column text-center">
        <img src="https://www.datocms-assets.com/6307/1551803298-ecomm-awards-250x250.png" class="shadow" alt="e-commerce germany awards 2019">
        <div class="m10b m10t text-green"><b>{{award2title}}</b></div>
        <div class="m10b"><b>{{award2subtitle}}</b></div>
      </div>
    </div>

    <br>
    <br>
    <br>
  </div>

</section>

{{>footer}}
