{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
  </div>
</section>

<div class="content-limiter job-offer">
  <div class="row">

    {{#if image}}
    <div class="column column-50">
      <img src="{{image}}" alt="">
    </div>
    {{/if}}


    <div class="column">
      <p>
        {{{sneakPeak}}}
      </p>
    </div>
  </div>

  <br> {{{contents}}}

  <br>
  <br>

  <a href="javascript: window.history.back()">
     {{ backToOffer }}
  </a>
</div>


{{>footer}}