{{> header }} {{>menu}}

<section class="page-intro">
  <div class="content-limiter">
    <h1>{{__ 'Zarabiaj od 15% od każdej transakcji' }}</h1>
    <p>{{{__ 'Przystąp do naszego<b> Programu Partnerskiego,</b> skorzystaj z dedykowanych materiałów<br> i buduj swój biznes razem
    z <b>najszybciej rozwijającą</b> się platformą web push w Polsce' }}}</p>
  </div>
</section>

<header class="section-header">
  <h3 class="title--uppercase"ss="title--uppercase">{{__ 'Jak zostać partnerem PushPushGo?'}}</h3>
</header>

<section class="main">
  <div class="content-limiter">
    <div class="step-blocks">
      <div class="block-item">
        <h4>{{__ 'Skontaktuj się z nami'}}</h4>
        <span class="ppg-icon-telemarketer size36 m10"></span>
        <div>
          <a href="mailto:pp@pushpushgo.com">pp@pushpushgo.com</a> <br/>
          <a href="mailto:artur@pushpushgo.com">artur@pushpushgo.com</a> <br/>
          <a href="tel:+48123125213">+48 12 312 52 13</a>
        </div>
      </div>
      <div class="block-item">
        <h4>{{__ 'Materiały reklamowe'}}</h4>
        <span class="ppg-icon-branding size40 m10"></span>
        <div>
          {{__ 'Otrzymasz dedykowane materiały (loga, poradniki, banery), wsparcie merytoryczne oraz link polecający'}}
        </div>
      </div>
      <div class="block-item">
        <h4>{{__ 'Prowizja'}}</h4>
        <span class="ppg-icon-report size36 m10"></span>
        <div>
          {{__ 'Otrzymujesz prowizję od 15% od każdej transakcji, w zależności od ilości pozyskanych Klientów'}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-header">
  <a href="{{envlink 'https://pp.HOST_DOMAIN' NODE_ENV}}" class="btn register">{{__ 'Przejdź do programu'}}</a>
</section>

<header class="section-header" id="features">
  <h3 class="title--uppercase">{{__ 'Co zyskuje Partner PushPushGo?'}}</h3>
</header>

<section class="main">
  <div class="content-limiter">
    <div class="row">
      <div class="column-half text-right">
        <img src="/images/partnership.png" alt="">
      </div>
      <div class="column-half">
        <p>
          {{{__ 'Jako nasz Partner <b>zyskujesz dostęp</b> do wszystkich zasobów, <br>które ułatwią Ci pozyskiwanie <b>nowych Klientów</b>          oraz możesz liczyć<br> na dedykowane <b>wsparcie</b> techniczno-merytoryczne z naszej strony.'}}}
        </p>
        <ul class="list">
          <li>
            <span class="ppg-icon-ok-icon m10r text-green"></span> {{__ 'Zorganizujemy webinarium lub szkolenie dla Twoich Klientów,'}}
          </li>
          <li>
            <span class="ppg-icon-ok-icon m10r text-green"></span> {{__ 'Przygotujemy dedykowane poradniki i materiały graficzne
            jak loga, banery itd.'}}
          </li>
          <li>
            <span class="ppg-icon-ok-icon m10r text-green"></span> {{__ 'Wspólnie zorganizujemy dedykowaną akcję promocyjną.'}}
          </li>
        </ul>

      </div>
    </div>

  </div>
</section>

<header class="section-header">
  <h3 class="title--uppercase">{{__ 'Najczęściej zadawane pytania'}}</h3>
</header>

<section class="main">
  <div class="content-limiter">
    <div class="partnership-faq">

      <div class="question-item">
        <h4>{{__ 'Od czego zależy wysokość prowizji w programie partnerskim PushPushGo?'}}</h4>
        {{__ 'Ustalamy ją na podstawie ilości Klientów, których pozyskasz. Przypadek każdego Partnera rozpatrujemy indywidualnie, możesz
        więc być spokojny.'}}
      </div>

      <div class="question-item">
        <h4>{{__ 'Gdzie znajdę bardziej szczegółowe informacje nt. działania Programu?'}}</h4>

        {{__ 'Skontaktuj się z nami na'}}
        <a href="mailto: pp@pushpushgo.com">pp@pushpushgo.com</a>
        {{__ 'oraz przeczytaj'}} <a href="/pl/pages/program-partnerski/regulamin/">{{__ 'regulamin'}} </a>
      </div>

      <div class="question-item">
        <h4>{{__ 'Od jakiej kwoty mogę wypłacić swoją prowizję?'}}</h4>

        {{__ 'Od 200 zł, chyba że chcesz w danym momencie zrezygnować z Programu, wówczas wypłacimy Ci całą zgromadzoną kwotę. Poza tym
        przypadkiem, wypłaty przeprowadzane są w cyklach miesięcznych.'}}
      </div>

      <div class="question-item">
        <h4>{{__ 'Czy muszę prowadzić firmę, aby zostać Partnerem PushPushGo?'}}</h4>
        {{__ 'Tak, wypłata prowizji rozliczana jest na podstawie faktur, które dla nas wystawisz.'}}
      </div>
    </div>
  </div>
</section>

<header class="section-header">
  <h3 class="title--uppercase">{{__ 'Skontaktuj się'}}</h3>
  <p>{{__ 'Z przyjemnością odpowiem na Twoje pytania.'}}</p>
</header>

<div class="text-center contact-section">
  <div class="contact-avatar avatar--artur">
    <img src="/images/team/artur.jpg">
  </div>
  <p><b>Artur Łabanowski</b></p>
  <p>artur@pushpushgo.com</p>
  <p><a href="tel:+48695299333">+48 695 299 333</a></p>
</div>

<br>
<br>


{{>footer}}