{{>header}} {{>menu}}

<section class="blog">
	<div class="content-limiter">

		<div class="blog-breadcrumbs">
			<a href="{{link '' locale}}">{{breadcrumbsHome}}</a>
			<span class="divider">/</span>
			<a href="{{link 'blog/page/1' locale}}">{{breadcrumbsBlog}}</a>
			<span class="divider">/</span>
			<span>{{title}}</span>
		</div>
		<div class="blog-single-post">
			<div class="blog-post-item">
				<header class="blog-post-item-header">
					<h1 class="blog-post-item-title">{{title}}</h1>
					<div>
						{{#each this.tags}}
						<a href="/tag/{{slug}}/" class="post-tag">{{name}}</a>
						{{/each}}
					</div>
					<span class="blog-post-item-date"> {{parseDate date}} </span>
				</header>
				<div class="blog-post-item-stats">
					<span class="stat-item">
						{{readingTimeLabel}}: {{readingTime}}
					</span>
				</div>

				{{#if image}}
				<a href="/{{link path}}">
					<img src="{{image}}" class="blog-post-item-image">
				</a>
				{{/if}}

				<div class="blog-post-item-text">

					{{{contents}}}

					<!-- <div class="blog-post-navigation">
						{{#if this.previous}}
							<a class="post-prev" href="/{{link this.previous.path}}">
								<div class="link-description">{{nextPage}}:</div>
								{{this.previous.title}}
							</a>
						{{/if}}
						<a class="post-next" href="/{{link this.next.path}}">
							<div class="link-description">{{prevPage}}:</div>
							{{this.next.title}}
						</a>
					</div> -->

					<hr class="blog-line">
					<div class="author-information">
						<img src="{{authorAvatar}}" />
						<div class="author-information__description">
							<b>{{author}}</b>
							<p class="author-information__description--role">{{authorRole}}</p>
							<p>{{{authorBio}}}</p>
						</div>
					</div>
					
					<div class="realted-posts">
						<p>{{{realtedPosts}}}</p>
					</div>

					<div class="clearfix"></div>

				</div>
			</div>

		</div>
		<!-- <div class="content-limiter">
			<div class="blog-single-post">
				<div class="author-information">
					<img src="{{authorAvatar}}"/>
					<div class="author-information__description">
						<b>{{author}}</b>
						<p>{{authorRole}}</p>
						<p>{{{authorBio}}}</p>
					</div>
				</div>
			</div>
		</div> -->

		<div class="post-share">
			<ul class="share-buttons">
				<li>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}{{link path }}&quote={{title}}" title="Share on Facebook"
					 target="_blank">
						<img alt="Share on Facebook" src="/images/fb-post.png" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/intent/tweet?source={{ url }}{{link path }}&text={{title}} - {{ url }}{{link path }}" target="_blank"
					 title="Tweet">
						<img alt="Tweet" src="/images/twitter-post.png" />
					</a>
				</li>
				<li>
					<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}{{link path }}&title={{title}}&summary=&source={{ url }}{{link path }}"
					 target="_blank" title="Share on LinkedIn">
						<img alt="Share on LinkedIn" src="/images/lin-post.png" />
					</a>
				</li>
				<li>
					<a href="https://getpocket.com/save?url={{ url }}{{link path }}&title={{title}}" target="_blank" title="Add to Pocket">
						<img alt="Add to Pocket" src="/images/pocket-post.png" />
					</a>
				</li>
				<li>
					<a href="#top" style="text-decoration: none;">
						<img alt="Back to top" width="32px" height="32px" src="/images/up.png" />
					</a>
				</li>
			</ul>
		</div>

		<div id="disqus_thread"></div>
		<script id="dsq-count-scr" src="//pushpushgo.disqus.com/count.js" async></script>
		<script>
			var disqus_config = function () {
				this.page.url = 'https://www.pushpushgo.com/{{link path}}';
				this.page.identifier = '{{md5 path}}';
			};

			(function () {
				var d = document, s = d.createElement('script');

				s.src = '//pushpushgo.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the
			<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
		</noscript>

	</div>
</section>

{{#ifCond locale 'pl'}}
<div class="newsletter-post">
	<script type="text/javascript" src="https://newsletter.pushpushgo.com/view_webform_v2.js?u=riyWa&webforms_id=P2O2I"></script>
</div>
{{/ifCond}} {{#ifCond locale 'en'}}
<div class="newsletter-post">
	<script type="text/javascript" src="https://newsletter.pushpushgo.com/view_webform_v2.js?u=riyWa&webforms_id=P2O2Q"></script>
</div>
{{/ifCond}} {{>footer}}