{{> header }}
{{>menu}}
<section class="page-intro">
    <div class="content-limiter">
        <h1>Check out pricing for Shopify users</h1>
    </div>
</section>
<section class="main">
    <div class="content-limiter">
       <div class="sh-pricing">
            <div class="sh-pricing__card">
                <div class="sh-pricing__card--container">
                        <img class="sh-pricing__card--plant plant-1" src="https://www.datocms-assets.com/6307/1548147550-growing-plant-1.png" alt="growing">
                        <h2>Growth</h2>
                </div>
                    <p class="sh-pricing__card--price">$4 per month</p>
                    <p class="sh-pricing__card--quantity">up to 1000</p>
                    <h5>subscribers</h5>
                    <ul class="sh-pricing__card--features">
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Unlimited pushes</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Custom Branding</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Subscriber segmentation</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                <span class="list-content"> Ready marketing automations: </span>
                            </li>
                            <ul>
                                <li>
                                    Welcome-message
                                </li>    
                                <li>Abandoned-cart</li> 
                                <li>Last-product</li>
                                <li>Long-absence</li>
                            </ul>
                    </ul>
            </div>
            <div class="sh-pricing__card">
                <div class="sh-pricing__card--container">
                    <img class="sh-pricing__card--plant plant-2" src="https://www.datocms-assets.com/6307/1548147547-growing-plant-2.png" alt="growing">
                    <h2>Startup</h2>
                </div>
                    <p class="sh-pricing__card--price">$29 per month</p>
                    <p class="sh-pricing__card--quantity">over 1000 to 25 000</p>
                    <h5>subscribers</h5>
                    <ul class="sh-pricing__card--features">
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Unlimited pushes</span>
                            </li>
                            <li>
                                    <span class="list-tick">
                                        <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                    <span class="list-content">Custom Branding</span>
                                </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Subscriber segmentation</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                <span class="list-content"> Ready marketing automations: </span>
                            </li>
                            <ul>
                                <li>
                                    Welcome-message
                                </li>    
                                <li>Abandoned-cart</li> 
                                <li>Last-product</li>
                                <li>Long-absence</li>
                            </ul>
                    </ul>
            </div>
            <div class="sh-pricing__card">
                <div class="sh-pricing__card--container">
                    <img class="sh-pricing__card--plant" src="https://www.datocms-assets.com/6307/1548147545-growing-plant-3.png" alt="growing">
                    <h2>Business</h2>
                </div>
                    <p class="sh-pricing__card--price">$59 per month</p>
                    <p class="sh-pricing__card--quantity">over 25 000 to 50 000</p>
                    <h5>subscribers</h5>
                    <ul class="sh-pricing__card--features">
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Unlimited pushes</span>
                            </li>
                            <li>
                                    <span class="list-tick">
                                        <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                    <span class="list-content">Custom Branding</span>
                                </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Subscriber segmentation</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                <span class="list-content"> Ready marketing automations: </span>
                            </li>
                            <ul>
                                <li>
                                    Welcome-message
                                </li>    
                                <li>Abandoned-cart</li> 
                                <li>Last-product</li>
                                <li>Long-absence</li>
                            </ul>
                    </ul>
            </div>
            <div class="sh-pricing__card">
                <div class="sh-pricing__card--container">
                    <img class="sh-pricing__card--plant plant-4" src="https://www.datocms-assets.com/6307/1548147542-growing-plan-4.png" alt="growing">
                    <h2>Enterprise</h2>
                </div>
                    <p class="sh-pricing__card--price">$149 per month</p>
                    <p class="sh-pricing__card--quantity">over 50 000</p>
                    <h5>subscribers</h5>
                    <ul class="sh-pricing__card--features">
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Unlimited pushes</span>
                            </li>
                            <li>
                                    <span class="list-tick">
                                        <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                    <span class="list-content">Custom Branding</span>
                                </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Subscriber segmentation</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                <span class="list-content"> Ready marketing automations: </span>
                            </li>
                            <ul>
                                <li>
                                    Welcome-message
                                </li>    
                                <li>Abandoned-cart</li> 
                                <li>Last-product</li>
                                <li>Long-absence</li>
                            </ul>
                    </ul>
            </div>
       </div>
    </div>
</section>

{{>footer-small}}