{{> header }}
{{>menu}}
<section class="page-intro">
    <div class="content-limiter">
        <h1>We are sorry to see you go</h1>
    </div>
</section>
<section class="main">
    <div class="content-limiter">
        <div class="sh__text--center">
            <h2 class="sh__text--center-header">To uninstall our app from your Shopify Store</h2>
            <ul>
                <li>Go to Apps in your <a href="http://www.shopify.com/admin/apps">Shopify admin</a></li>
                <li>Locate the PushPushGo Notifications app and click the garbage can</li>
                <li>Click Uninstall</li>
            </ul>
        </div>
    </div>
</section>

{{>footer}}
  