{{> header }} {{>menu}}
<section class="page-intro">
    <div class="content-limiter">
        <h1>Check out pricing for Shopify users</h1>
    </div>
</section>
<section class="main">
    <div class="content-limiter">
        <div class="sh-pricing">
            <div class="sh-pricing__card">
                <div class="sh-pricing__card--container">
                    <img class="sh-pricing__card--plant" src="https://www.datocms-assets.com/6307/1548147545-growing-plant-3.png" alt="growing">
                    <h2>ELASTIC</h2>
                </div>
                <ul class="sh-pricing__card--list">
                    <li>
                        <span class="list-tick">
                            <span class="icon-ok-icon text-green"></span>
                        </span>
                        <span class="type">
                            Unlimited pushes
                        </span>
                    </li>
                    <li>
                        <span class="list-tick">
                            <span class="icon-ok-icon text-green"></span>
                        </span>
                        <span class="type">
                            Custom Branding
                        </span>
                    </li>
                    <li>
                        <span class="list-tick">
                            <span class="icon-ok-icon text-green"></span>
                        </span>
                        <span class="type">
                            Subscriber segmentation
                        </span>
                    </li>
                    <li>
                        <span class="list-tick">
                            <span class="icon-ok-icon text-green"></span>
                        </span>
                        <span class="type">
                            Ready marketing automations:
                        </span>
                    </li>
                    <ul class="sh-pricing__card--automation">
                            <li>
                                <span class="list-icon icon-play"></span>
                                <span class="type"> Welcome-message </span>
                            </li>    
                            <li>
                                <span class="list-icon icon-play"></span>
                                <span class="type"> Abandoned-cart</span>
                            </li> 
                            <li>
                                <span class="list-icon icon-play"></span>
                                <span class="type">Last-product</span> 
                            </li>
                            <li>
                                <span class="list-icon icon-play"></span>
                                <span class="type">Long-absence</span>
                            </li>
                        </ul>
                </ul>
                <p class="sh-pricing__card--price">$4 per month</p>
                <p class="sh-pricing__card--quantity">up to 1000 subscribers</p>
            </div>
            <div class="sh-pricing__plus">
                <p class="sh-pricing__plus--head">PLUS ADDTIONAL USAGE CHARGES</p>
                <div class="sh-pricing__plus--plan">
                    <div class="sh-pricing__plus--plan-type">
                        <p class="sh-pricing__plus--quantity">over 1000 to 25 000 subscribers</p>
                        <p class="sh-pricing__plus--price">+ $29 per month</p>
                    </div>
                    <div class="sh-pricing__plus--plan-type">
                        <p class="sh-pricing__plus--quantity">over 25 000 to 50 000 subscribers</p>
                        <p class="sh-pricing__plus--price">+ $59 per month</p>
                    </div>
                    <div class="sh-pricing__plus--plan-type">
                        <p class="sh-pricing__plus--quantity">over 50 000 subscribers</p>
                        <p class="sh-pricing__plus--price">+ $149 per month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>footer-small}}