{{> header }}
{{>menu}}
<section class="page-intro">
    <div class="content-limiter">
        <h1>Check out pricing for Shopify users</h1>
    </div>
</section>
<section class="main">
    <div class="content-limiter">
       <div class="sh-pricing">
            <div class="sh-pricing__card">
                <img class="sh-pricing__card--plant" src="https://www.datocms-assets.com/6307/1548147550-growing-plant-1.png" alt="growing">
                <h2>Growth</h2>
                    <p class="sh-pricing__card--price">4$ per month</p>
                    <img class="sh-pricing__card--arrow" src="https://www.datocms-assets.com/6307/1548155168-arrow-left.svg" alt="arrow-left">
                    <p class="sh-pricing__card--quantity">up to 1000</p>
                    <img class="sh-pricing__card--arrow" src="https://www.datocms-assets.com/6307/1548155166-arrow-right.svg" alt="arrow-right">
                    <h5>subscribers</h5>
                    <ul class="sh-pricing__card--features">
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Unlimited pushes</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                </span>
                                <span class="list-content">Subscriber segmentation</span>
                            </li>
                            <li>
                                <span class="list-tick">
                                    <span class="icon-ok-icon text-green" title="Only in PushPushGo"></span>
                                    </span>
                                <span class="list-content"> Ready marketing automations: </span>
                            </li>
                            <ul>
                                <li>
                                    Welcome-message
                                </li>    
                                <li>Abandoned-cart</li> 
                                <li>Last-product</li>
                                <li>Long-absence</li>
                            </ul>
                    </ul>
            </div>
       </div>
    </div>
</section>
{{>footer}}
  