{{>header}} {{>menu}}
<script src='https://www.google.com/recaptcha/api.js'></script>

<header class="section-header">
  <span class="icon-microphone header-icon size36"></span>
  <h1 class="title--uppercase">{{{ heading }}}</h1>
</header>

<section class="main section--webinar">
  <div class="content-limiter">
    <div class="row top h-center">
      <div class="column">
        <div class="p40r">
          <div id="webinar__description" class="webinar-description">
            {{#each collections.webinars locale 1}}
             {{{contents}}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="column">
        <form class="webinar-form">
          <p><b>{{ heading }}:</b></p>

          <ul class="color-dot-list">
            <li>{{{ firstGift }}},</li>
            <li>{{{ secondGift }}},</li>
            <li>{{{ thirdGift}}}.</li>
          </ul>

          <input type="text" placeholder="{{formInputFullNamePlaceholder}}" name="name" required/>
          <input type="email" placeholder="{{formInputEmailPlaceholder}}" name="email" required/>
          <input type="tel" placeholder="{{formInputMobilePlaceholder}}" name="phone" required />

          <div class="g-recaptcha" data-sitekey="6LcEHiUUAAAAADuG66YjUcrPMBcKY5VBhid1t_yL"></div>
          <br>
          <div>
            <p style="font-size: 10px; line-height: 12px">{{agreementIntro}}:</p>
            <p style="font-size: 10px; line-height: 12px">1. {{agreementOne}}</p>
            <p style="font-size: 10px; line-height: 12px">2. {{agreementTwo}}</p>
          </div>
          <button type="submit" class="btn w100 m20t">{{formSubmit}}</button>
          <br>
        </form>
      </div>
    </div>
    <br>
    <br>
    <p class="text-center">
      <a href="{{link 'webinar' locale}}">{{lookOldWebinars}}</a>
    </p>
  </div>
</section>

{{>footer}}