{{>header}} {{>menu}}
<script src='https://www.google.com/recaptcha/api.js'></script>

<header class="section-header">
  <span class="icon-microphone header-icon size36"></span>
  <h1 class="title--uppercase">{{{__ 'Zapisz się na webinarium'}}}</h1>
</header>

<section class="main section--webinar">
  <div class="content-limiter">
    <div class="row top h-center">
      <div class="column">
        <div class="p40r">
          <div id="webinar__description" class="webinar-description"></div>
        </div>
      </div>
      <div class="column">
        <form id="shtzu" class="webinar-form">
          <p><b>{{{__ 'Wypełnij formularz zapisu, a otrzymasz od nas'}}}:</b></p>

          <ul class="color-dot-list">
            <li>{{{__ 'Email z <b>linkiem</b> do webinarium'}}},</li>
            <li>{{{__ '<b>SMS</b> przypominający na 15 minut przed rozpoczęciem transmisji'}}},</li>
            <li>{{{__ 'Po zakończeniu webinarium, link do <b>nagrania</b>'}}}.</li>
          </ul>

          <input type="text" placeholder="Imię i nazwisko" name="name" required/>
          <input type="email" placeholder="Email" name="email" required/>
          <input type="tel" placeholder="Telefon" name="phone" required />
          <select id="webinar__options" name="webinar">
            <option value="" selected>{{{__ 'Wszystkie webinaria'}}}</option>
          </select>
          <div class="g-recaptcha" data-sitekey="6LcEHiUUAAAAADuG66YjUcrPMBcKY5VBhid1t_yL"></div>
          <br>
          <div>
            <p style="font-size: 10px; line-height: 12px">{{{__ 'Szanujemy Twoją prywatność. Pamiętaj, że zostawiając swoje dane'}}}:</p>
            <p style="font-size: 10px; line-height: 12px">1. {{{__ 'Wyrażasz zgodę na przetwarzanie podanych danych przez PushPushGo sp. z o.o. z siedzibą w Krakowie (31-548), przy Alei Pokoju 1A/C oraz Refericon sp. z o.o. z siedzibą w Poznaniu (60-524), przy ul. Staszica 26/2 w celach marketingowych, w tym również w celu marketingu bezpośredniego.'}}}</p>
            <p style="font-size: 10px; line-height: 12px">2. {{{__ 'Wyrażasz zgodę na otrzymywanie drogą elektroniczną, na podany adres e-mail, informacji handlowych wysyłanych przez PushPushGo sp. z o.o. z siedzibą w Krakowie (31-548), przy Alei Pokoju 1A/C oraz Refericon sp. z o.o. z siedzibą w Poznaniu (60-524), przy ul. Staszica 26/2.'}}}</p>
          </div>
          <button type="submit" class="btn w100 m20t">{{{__ 'Zapisuję się'}}}</button>
          <br>
        </form>
      </div>
    </div>

    <br>
    <br>
    <p class="text-center">
      <a href="{{link 'pages/webinar' locale}}">{{{__ 'Zobacz nagrania z naszych poprzednich webinariów'}}}</a>
    </p>
  </div>
</section>

{{>footer}}