<section class="call-to-action">
  <div class="content">
    <h3 class="title--uppercase">{{__ 'Przetestuj web push na swojej stronie'}}</h3>
    <p>{{__ 'Załóż konto i skorzystaj z 14-dniowej darmowej wersji'}}</p>
    <a href="{{envlink 'https://app.HOST_DOMAIN' NODE_ENV}}/#register?language={{locale}}" class="btn register">{{__ 'Testuję za darmo'}}</a>
    <p class="light"> <span class="ppg-icon-key text-green"></span> {{__ 'Darmowa wersja zawiera wszystkie funkcjonalności systemu'}}</p>
  </div>
  <div class="bg-img"></div>
</section>