<div class="popup" id="ebook-popup">
  <div class="popup__backdrop"></div>
  <div class="popup__wrapper">
    <div class="popup__close"></div>
    {{#ifCond locale 'pl'}}
      <a href="https://edu.pushpushgo.com/ebook-o-rodo" target="_blank" >
        <div style="text-transform: uppercase; font-weight: 600;">Bezpłatny EBOOK</div>

        <br/>

        <h4>
        24 zmiany, które RODO wprowadzi <br/>
        w Twoich działaniach marketingowych
        </h4>

        i dlaczego nie dotyczą one notyfikacji web push
        <br/>
        <br/>

        <img src="/images/ebook-vizu.png" alt="">

        <br/>

        <button class="btn">Pobieram EBOOK</button>

        <br/>
        <br/>

        <div>#wiedzaktórasięprzydaje</div>
      </a>

      {{else}}
      <a href="https://edu.pushpushgo.com/gdpr-ebook" target="_blank" >
        <div style="text-transform: uppercase; font-weight: 600;">Free EBOOK</div>

        <br/>

        <h4>
            24 changes that GDPR will introduce<br/> in your marketing strategy
        </h4>

        and why they do not apply to web push notifications
        <br/>
        <br/>

        <img src="/images/ebook-cover.png" alt="">

        <br/>

        <button class="btn">Download Now</button>

        <br/>
        <br/>

        <div>#GoodToKnow</div>
      </a>

      {{/ifCond}}
  </div>
</div>
