
<section class="main features">
  <h2 class="title--uppercase text-center">{{__ 'Poznaj możliwości Web Push Automation'}}</h2>
  <div class="content-limiter">

    <div class="features-slider ppg-tabs">
      <div class="text-center">
        <div class="features-slider__tabs">
          <span class="ppg-tab-trigger active" data-tab="returning">{{__ 'Powracalność'}}</span>
          <span class="ppg-tab-trigger" data-tab="cart">{{__ 'Porzucone koszyki'}}</span>
          <span class="ppg-tab-trigger" data-tab="segmentation">{{__ 'Segmentacja'}}</span>
          <span class="ppg-tab-trigger" data-tab="selling">{{__ 'Cross-selling'}}</span>
          <span class="ppg-tab-trigger" data-tab="loyalty">{{__ 'Lojalność'}}</span>
        </div>
      </div>

      <div class="features-slider__content">

        <div class="features-slider__item ppg-tab-content opened" id="returning">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon calendar"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{__ 'Dawno Cię u nas nie było'}}
                </div>
                <div class="fake-push__body">
                  {{__ 'Kliknij i sprawdź jakie oferty ominęły Cię od czasu ostatniej nieobecności.'}}
                </div>

                <div class="fake-push__domain">
                  pushpushgo.com
                </div>
              </div>
            </div>
          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{__ 'Zwiększaj powracalność'}}</h4>

            <p>{{__ 'Generuj większy ruch na stronie internetowej i buduj lojalność subskrybentów, dzięki automatycznym notyfikacjom'}}</p>

            {{#ifCond locale 'pl'}}
            <a href="https://edu.pushpushgo.com/pl/poradnik/dluga-nieobecnosc">{{__ 'Dowiedz się więcej' }} &#155;</a>
            {{else}}
            <a href="https://edu.pushpushgo.com/user-guide/automation-long-absence">{{__ 'Dowiedz się więcej' }} &#155;</a>
            {{/ifCond}}
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="cart">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon cart"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{__ '3 produkty czekają na Ciebie w koszyku'}}
                </div>
                <div class="fake-push__body">
                  {{__ 'Kliknij by dokończyć zamówienie.'}}
                </div>
                <div class="fake-push__domain">
                  pushpushgo.com
                </div>
              </div>
            </div>

          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{__ 'Ratuj porzucone koszyki'}}</h4>

            <p>{{__ 'Wysyłaj przypomnienia do odbiorców chwilowo rezygnujących z zakupów, aby nie zapomnieli o rozpoczętej transakcji'}}</p>

            {{#ifCond locale 'pl'}}
            <a href="https://edu.pushpushgo.com/pl/poradnik/porzucony-koszyk">{{__ 'Dowiedz się więcej' }} &#155;</a>
            {{else}}
            <a href="https://edu.pushpushgo.com/user-guide/automation-abandoned-cart">{{__ 'Dowiedz się więcej' }} &#155;</a>
            {{/ifCond}}
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="selling">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon promo"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{__ 'Dobierz drugi produkt'}}
                </div>
                <div class="fake-push__body">
                  {{__ 'Tylko dzisiaj, przy zakupie dwóch produktów, cenę tańszego obniżamy o 50%.'}}
                </div>
                <div class="fake-push__domain">
                  pushpushgo.com
                </div>
              </div>
            </div>

          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{__ 'Sprzedawaj więcej'}}</h4>

            <p>{{__ 'Wysyłaj powiadomienia o nowych promocjach do wybranych subskrybentów. Wykorzystuj cross-selling by zwiększyć zyski'}}
            </p>
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="loyalty">
          <div class="features-slider__image">

            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon survey"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{__ 'Dziękujemy za wybór naszego sklepu'}}
                </div>
                <div class="fake-push__body">
                  {{__ 'Kliknij by wypełnić ankietę na temat naszej obsługi klienta.'}}
                </div>
                <div class="fake-push__domain">
                  pushpushgo.com
                </div>
              </div>
            </div>

          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{__ 'Zadbaj o obsługę klienta'}}</h4>

            <p>{{__ 'Monitoruj zadowolenie klientów dzięki krótkim ankietom po każdej transakcji oraz buduj więź za pomocą spersonalizowanych powiadomień'}}
            </p>
          </div>
        </div>

        <div class="features-slider__item ppg-tab-content" id="segmentation">
          <div class="features-slider__image">
            <div class="fake-push">
              <div class="fake-push__icon">
                <div class="flat-icon book"></div>
              </div>
              <div class="fake-push__content">
                <div class="fake-push__title">
                  {{__ 'Kuchnia wegetariańska'}}
                </div>
                <div class="fake-push__body">
                  {{__ 'Najnowsza książka z przepisami dla wegetarian już w sprzedaży.'}}
                </div>
                <div class="fake-push__domain">
                  pushpushgo.com
                </div>
              </div>
            </div>
          </div>
          <div class="features-slider__description">
            <h4 class="title--big-green">{{__ 'Poznaj zainteresowania subskrybentów'}}</h4>

            <p>{{__ 'Śledź zachowania odbiorców na stronie w czasie rzeczywistym i reaguj na nie. Nadawaj tagi na podstawie rozpoznanych zainteresowań i buduj segmenty klientów'}}
            </p>

             {{#ifCond locale 'pl'}}
             <a href="https://edu.pushpushgo.com/pl/poradnik/tagowanie">{{__ 'Dowiedz się więcej' }} &#155;</a>
             {{else}}
             <a href="https://edu.pushpushgo.com/user-guide/tagging">{{__ 'Dowiedz się więcej' }} &#155;</a>
             {{/ifCond}}
          </div>
        </div>

      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
</section>