<header class="section-header grey-bg" id="features">
  <span class="icon-computer header-icon  size36"></span>
  <h2 class="title--uppercase">{{__ 'Nasze narzędzia'}}</h2>
</header>

<section class="main features grey-bg">
  <div class="content-limiter">
    <ul class="features-list">
      <li>
        <h4 class="title--bolded text-green">{{__ 'Kreator formularza zapisu'}}</h4>
        <p>{{__ 'Stwórz skuteczny formularz zapisu, który pasuje wizualnie do Twojej strony.'}}</p>
        <span class="feature-icon">
          <span class="icon-pencil-and-ruler"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Kreator notyfikacji'}}</h4>
        <p>{{__ 'Kilkoma kliknięciami stwórz komunikat, który trudno przeoczyć.'}}</p>
        <span class="feature-icon">
          <span class="icon-magic-wand"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Wygodny panel raportów'}}</h4>
        <p>{{__ 'Analizuj na żywo reakcje Twoich odbiorców na wysłane powiadomienia.'}} </p>
        <span class="feature-icon">
          <span class="icon-reports"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Skrzynka odbiorcza'}}</h4>
        <p>{{__ 'Daj swoim odbiorcom możliwość wglądu do historii otrzymanych powiadomień.'}}</p>
        <span class="feature-icon">
          <span class="icon-inbox"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Tagowanie odbiorców'}}</h4>
        <p>{{__ 'Twórz segmenty odbiorców na postawie ich zainteresowań.'}}</p>
        <span class="feature-icon">
          <span class="icon-subscribers"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Automation'}}</h4>
        <p>{{__ 'Twórz scenariusze i wysyłaj automatyczne powiadomienia.'}}</p>
        <span class="feature-icon">
          <span class="icon-play"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Własna domena'}}</h4>
        <p>{{__ 'Wysyłaj powiadomienia z własną domeną.'}}</p>
        <span class="feature-icon">
          <span class="icon-globe"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'RSS'}}</h4>
        <p>{{__ 'Wysyłaj automatyczne kampanie na podstawie wpisów z RSS.'}}</p>
        <span class="feature-icon">
          <span class="icon-rss"></span>
        </span>
      </li>
      <li>
        <h4 class="title--bolded text-green">{{__ 'Linki'}}</h4>
        <p>{{__ 'Udostępniaj linki do innych stron z Twoim formularzem zapisu.'}}</p>
        <span class="feature-icon">
          <span class="icon-link"></span>
        </span>
      </li>
    </ul>
  </div>
</section>