<header class="section-header grey-bg">
  <h2 class="title--uppercase">{{__ 'Integracja powiadomień na Twojej stronie'}}</h2>
</header>
<section class="main grey-bg">
  <div class="content-limiter">
      <div class="text-center">
        <img src="/images/paste-code.png" class="shadow" alt="">
        <br>
        <br>
        {{#ifCond locale 'pl'}}
        <a href="https://edu.pushpushgo.com/pl/poradnik/integracja" class="btn btn--medium">{{__ 'Zobacz instrukcję'}} &#155;</a>
        {{else}}
        <a href="https://edu.pushpushgo.com/user-guide/page-integration" class="btn btn--medium">{{__ 'Zobacz instrukcję'}} &#155;</a>
        {{/ifCond}}
      </div>
  </div>
</section>