<section class="intro" id="intro">
  <div class="intro-content">
    <div class="intro-animate-area">
      <img src="/images/laptop.png" alt="" class="laptop">
      <img src="/images/iphone.png" alt="" class="iphone">
      <div class="push-fake push-mobile">
        <div class="push-icon">
          <span class="ppg-icon-bell"></span>
        </div>
      </div>
      <div class="push-fake push-desktop">
        <div class="push-icon">
          <span class="ppg-icon-bell"></span>
        </div>
      </div>
    </div>
    <div class="intro-text">
      <h1>
        {{__ 'Generuj ruch i zwiększaj zyski'}}
      </h1>
      <p>
        {{{__ 'Zyskuj codziennie nowych subskrybentów'}}}
      </p>
      <a class="btn get-program" href="{{envlink 'https://app.HOST_DOMAIN' NODE_ENV}}">{{__ 'Testuję za darmo'}}</a>
    </div>
    <div class="intro-icons">
      <span class="intro-icon-item">
          <span class="ppg-icon-basket"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-click"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-bell"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-wifi"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-graph"></span>
      </span>
      <span class="intro-icon-item text-green">
          <span class="ppg-icon-globe"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-cog"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-message"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-pencil-and-ruler"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-target"></span>
      </span>
      <span class="intro-icon-item text-red">
          <span class="ppg-icon-heart"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-music"></span>
      </span>
      <span class="intro-icon-item">
          <span class="ppg-icon-pie-chart"></span>
      </span>
    </div>
  </div>
</section>

