<br>
<br>
<section class="main intro-video">
  <div class="content-limiter ">

    <div class="row">
      <div class="column text-bigger">

        <h4 class="title--big-green">{{__ 'Pierwsze kroki'}} </h4>
        <p class="">{{{__ 'PushPushGo to platforma do wysyłki i automatyzacji <b>powiadomień push i web push</b>.
        Nasz wygodny panel, pozwoli Ci już w <b>5 minut</b> zacząć zbierać zapisy na powiadomienia.'}}}</p>

        <p>{{{__ '<b>Obejrzyj film</b> i zobacz jakie to proste!'}}}</p>
        <br>
        <br>

        <div>
          {{#ifCond locale 'pl'}}
          <a href="https://edu.pushpushgo.com/pl/poradnik/start"  class="btn">{{{__ 'Przejdź do poradnika'}}} &#155;</a>
          {{else}}
          <a href="https://edu.pushpushgo.com/user-guide/start"  class="btn">{{{__ 'Przejdź do poradnika'}}} &#155;</a>
          {{/ifCond}}
        </div>
      </div>
      <div class="column">
        {{#ifCond locale 'pl'}}
        <iframe width="800" height="450" src="https://www.youtube.com/embed/T4sMdzsvrcE?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        {{else}}
        <iframe width="800" height="450" src="https://www.youtube.com/embed/FOA7FL7bhww?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        {{/ifCond}}
      </div>
    </div>

    <br>
    <br>

    <div class="text-center">
      <div class="inline-block p30">
        <div class="count-circle green m10b">1</div>
        <div>{{{__ 'Załóż konto <br>w aplikacji'}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">2</div>
        <div>{{{__ 'Wklej skrypt <br>na swoją stronę'}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">3</div>
        <div>{{{__ 'Skonfiguruj <br>formularz zapisu'}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">4</div>
        <div>{{{__ 'Ustaw <br>scenariusze automation'}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">5</div>
        <div>{{{__ 'Buduj bazę <br>odbiorców'}}}</div>
      </div>
      <div class="inline-block p30">
        <div class="count-circle green m10b">6</div>
        <div>{{{__ 'Wysyłaj masowe <br>lub targetowane kampanie'}}}</div>
      </div>
    </div>


  </div>
</section>