<section class="page-intro">
  <div class="content-limiter">
    <h1>{{__ 'Cennik' }}</h1>
    <p>{{__ 'Wybierz plan idealny dla siebie' }}</p>
  </div>
</section>

<br>
<br>

<section class="main prices">
  <div class="content-limiter pricing-container">

    <div class="plan plan--starter">
      <header class="plan-header">
        <span class="ppg-icon-mortarboard plan-icon"></span>
        <h4>{{__ 'Starter' }}</h4>
      </header>

      <div class="plan-slider">
        <div class="plan__callus-text callus-show">
          {{__ 'Skontaktuj się'}}
        </div>
        <div class="plan-slider__price callus-hide">
          {{#ifCond locale 'pl'}}
            <div class="big">29 <sub>PLN</sub></div>
            <div>
              + <b><span class="value">4</span> grosze</b> {{__ 'za aktywnego subskrybenta miesięcznie' }}
            </div>
          {{ else }}
            <div class="big">9 <sub>EUR</sub></div>
            <div>
              + <b><span class="value">1</span> cent</b> {{__ 'za aktywnego subskrybenta miesięcznie' }}
            </div>
          {{/ifCond}}
        </div>
        <div class="plan-slider__scale">
          <span>1 {{__ 'tys'}}</span>
          <span>5 {{__ 'tys'}}</span>
          <span>10 {{__ 'tys'}}</span>
          <span>15 {{__ 'tys'}}</span>
          <span>20 {{__ 'tys'}}</span>
          <span>30 {{__ 'tys'}}</span>
        </div>
        <input class="plan-slider__range" id="starter-range" type="range" min="0" value="500" max="30000" step="500">
        <div class="row">
          <div class="column size12 nowrap text-left">
            <span id="starter-count"></span> <span>{{__ 'subskrybentów' }}</span> <br/>
          </div>
          <div class="column text-right">
            {{#ifCond locale 'pl'}}
              <b> <span>29 PLN +</span> <span class="value" id="pl-starter-sum">46</span> <span>PLN</span></b>
            {{else}}
              <b> <span>9 EUR +</span> <span class="value" id="en-starter-sum">46</span> <span>EUR</span></b>
            {{/ifCond}}
          </div>
        </div>
      </div>

      <div class="plan-includes">
        <div class="included-item">
          {{__ 'Formularze zapisu:'}} <b>3</b>
        </div>
        <div class="included-item">
          {{__ 'Powiadmienia z własnej domeny' }}
        </div>
        <div class="included-item">
          {{__ 'Skrzynka odbiorcza' }}
        </div>
        <div class="included-item">
          {{__ 'Widget dzwoneczka' }}
        </div>
        <div class="included-item">
          {{__ 'Personalizacja widgetów' }}
        </div>
        <div class="included-item">
          {{__ 'Wsparcie chat + mail + telefon' }}
        </div>
        <div class="included-item">
          {{__ 'Planowanie kampanii w czasie' }}
        </div>
      </div>

      <a href="" class="btn callus-show c2c-btn">{{__ 'Skontaktuj się' }}</a>
      <a target="_blank" href="https://app.pushpushgo.com/#/register" class="btn callus-hide">{{__ 'Wybierz' }}</a>
    </div>

    <div class="plan plan--premium">
      <div class="plan__recommended-belt">
        {{__ 'Popularny wybór' }}
      </div>

      <header class="plan-header">
        <span class="ppg-icon-winner-cup plan-icon"></span>
        <h4>{{__ 'Premium' }}</h4>
      </header>

      <div class="plan-slider">
        <div class="plan__callus-text callus-show">
          {{__ 'Skontaktuj się' }}
        </div>
        <div class="plan-slider__price callus-hide">
          {{#ifCond locale 'pl'}}
            <div class="big">59 <sub>PLN</sub></div>
            <div>
              + <b><span class="value">6</span> groszy</b> {{__ 'za aktywnego subskrybenta miesięcznie' }}
            </div>
          {{else}}
            <div class="big">19 <sub>EUR</sub></div>
            <div>
              + <b><span class="value">2</span> cents</b> {{__ 'za aktywnego subskrybenta miesięcznie' }}
            </div>
          {{/ifCond}}
        </div>
        <div class="plan-slider__scale">
          <span>1 {{__ 'tys'}}</span>
          <span>5 {{__ 'tys'}}</span>
          <span>10 {{__ 'tys'}}</span>
          <span>15 {{__ 'tys'}}</span>
          <span>20 {{__ 'tys'}}</span>
          <span>30 {{__ 'tys'}}</span>
        </div>
        <input class="plan-slider__range" id="premium-range" type="range" min="0" value="500" max="30000" step="500">
        <div class="row">
          <div class="column size12 nowrap text-left">
            <span id="premium-count"></span> <span>{{__ 'subskrybentów' }}</span> <br/>
          </div>
          <div class="column text-right">
            {{#ifCond locale 'pl'}}
            <b> <span>59 PLN +</span> <span class="value" id="pl-premium-sum">46</span> <span>PLN</span></b>
            {{else}}
            <b> <span>19 EUR +</span> <span class="value" id="en-premium-sum">46</span> <span>EUR</span></b>
            {{/ifCond}}
          </div>
        </div>
      </div>


      <div class="plan-includes">
        <div class="included-item">
          <b>{{__ 'Funkcje pakietu Starter'}} +</b>
        </div>
        <div class="included-item">
          {{__ 'Formularze zapisu:' }} <b>5 + {{__ 'zbieranie adresów email'}}</b>
        </div>
        <div class="included-item">
          {{__ 'Marketing Automation' }}
        </div>
        <div class="included-item">
          {{__ 'ABX Testy' }}
        </div>
        <div class="included-item">
          {{__ 'Targetowanie po tagach' }}
        </div>
        <div class="included-item">
          {{__ 'Personalizacja powiadomień' }}
        </div>
        <div class="included-item">
          {{__ 'Export raportów do xls i pdf ' }}
        </div>
        <div class="included-item">
          {{__ 'Integracje z RSS' }}
        </div>
        <div class="included-item">
          {{__ 'Web push bez strony WWW (zapisy na YT, Twitterze, Facebooku)' }}
        </div>
      </div>
      <a href="" class="btn callus-show c2c-btn">{{__ 'Skontaktuj się' }}</a>
      <a target="_blank" href="https://app.pushpushgo.com/#/register" class="btn callus-hide">{{__ 'Wybierz' }}</a>
    </div>

    <div class="plan plan--enterprise">
      <header class="plan-header">
        <span class="ppg-icon-handshake plan-icon"></span>
        <h4>{{__ 'Enterprise' }}</h4>
      </header>

      <span class="plan__callus-text">
        {{__ 'Skontaktuj się' }}
      </span>

      <div class="plan-includes">
        <div class="included-item">
          <b>{{__ 'Funkcje pakietu Premium'}} +</b>
        </div>
        <div class="included-item">
          {{__ 'Dedykowany account manager' }}
        </div>
        <div class="included-item">
          {{__ 'Zapytania po API' }}
        </div>
        <div class="included-item">
          {{__ 'White label' }}
        </div>
        <div class="included-item">
          {{__ 'Implementacja na serwerach Klienta' }}
        </div>
        <div class="included-item">
          {{__ 'Dedykowane strategie' }}
        </div>
      </div>

      <a href="" class="btn c2c-btn">{{__ 'Skontaktuj się' }}</a>
    </div>
  </div>
  <br>
  <p class="text-small">{{__ '* Ceny są podane w walucie PLN, w formacie netto.' }}</p>


  <header class="section-header">
    <h2 class="title--uppercase">{{__ 'Potrzebujesz indywidualnej oferty?' }}</h2>
    {{__ 'Przygotujemy ofertę dopasowaną do Twoich potrzeb!' }}<br/>
  </header>
    <p>
      {{__ 'Napisz do nas'}}: <a href="mailto:@pushpushgo.com">hello@pushpushgo.com</a>

      <div class="m10">
        {{__ 'lub'}}
      </div>
      <a href="" class="btn m10t c2c-btn">{{__ 'Zapytaj o ofertę'}}</a>
    </p>

  <header class="section-header">
    <h2 class="title--uppercase">{{__ 'Zyskaj rabat'}}</h2>
    {{__ 'Zapłać za rok z góry, a otrzymasz rabat!' }}<br/>
  </header>
  <p>
    {{__ 'Napisz do nas'}}: <a href="mailto:@pushpushgo.com">hello@pushpushgo.com</a>
    <div class="m10">
      {{__ 'lub'}}
    </div>
    <a href="" class="btn m10t c2c-btn">{{__ 'Zapytaj o rabat'}}</a>
  </p>
</section>