<header class="section-header grey-bg" id="testimonials">
  <h2 class="title--uppercase">{{__ 'Mówią o nas'}}</h2>
</header>

<section class="main grey-bg testimonials">
  <div class="content-limiter">

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{__ 'Skuteczne narzędzie'}}</b></div>
        <p>{{__ 'Używam PushPushGo od kilku miesięcy i jestem pod wrażeniem. To skuteczne narzędzie do przyciągania czytelników na blog.'}}.</p>

        <div class="testimonial-footer">
          <div style="background-image: url(/images/marek-mwf.png);" class="testimonial-icon"></div>
          <div class="testimonial-autor">Marek Jankowski <span class="autor-position">{{__ 'autor bloga i podcastu'}} <a href="http://www.malawielkafirma.pl"  rel="nofollow" target="_blank">MalaWielkaFirma.pl</a></span> </div>
        </div>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{__ 'Świetna obsługa klienta'}}</b></div>
        <p>{{__ 'PushPushGo zapewnia nam profesjonalną obsługę, dostępną 7 dni w tygodniu i natychmiastową reakcję na nasze zapytania'}}.</p>

        <div class="testimonial-footer">
          <div style="background-image:  url(/images/olga-czas-na-buty.jpg);" class="testimonial-icon"></div>
          <div class="testimonial-autor">Olga Spandel-Machnik <span class="autor-position">
            <a href="http://czasnabuty.pl" rel="nofollow" target="_blank">CzasNaButy.pl</a> </span>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-quote">
        <div class="m10b text-green"><b>{{__ 'Przejrzysta i przyjazna platforma'}}</b></div>
        <p>{{__ 'PushPushGo to świetne narzędzie szybkiego reagowania :) Platforma jest przejrzysta i bardzo pomocna'}}.</p>

        <div class="testimonial-footer">
          <div class="testimonial-icon" style="background-image:  url(/images/yeah-bunny.png)"></div>
          <div class="testimonial-autor">Kacper Kuziora, <span class="autor-position">Brand Manager, <a href="http://yeah-bunny.pl"  rel="nofollow" target="_blank">yeah-bunny.pl</a></span></div>
        </div>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
</section>