<section class="main webinar">
  <div class="webinar__video">
    <iframe id="webinar__video" width="900" height="600" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="webinar__chat">
    <iframe id="webinar__chat" allowfullscreen="" frameborder="0" height="600" width="480"></iframe><br />
  </div>
</section>
<header class="section-header">
  <h3 class="title--uppercase">{{__ 'Zobacz poprzednie webinaria'}}</h3>
</header>
<section class="main">
  <div class="content-limiter text-center pointer" id="webinar__list"></div>

  <span class="icon-play"></span>
</section>